<div class="login-box">
  <!-- /.login-logo -->

  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img
        v-if="subscription.ShowLogo && subscription.ImageUrl"
        width="250"
        height="200"
        title="logo"
        :src="subscription.ImageUrl"
      />

      <div v-else>
        <router-link to="/" class="h1"
          ><b>{{ $t("labels.cakrasoft") }}</b>{{ $t("labels.app")
          }}</router-link
        >
        <br />
        <b> {{ $t("labels.version") }}</b>
        <span>:&nbsp;{{version}}</span>&nbsp;
      </div>
    </div>
    <div class="card-body">
      <form v-if="!showShiftInformation" @submit.prevent="loginByAuth">
        <p v-if="isFirstLogin" class="login-box-msg">
          {{ $t("messages.firstTimeLogin") }}
        </p>
        <p v-else class="login-box-msg">{{ $t("labels.signInToStart") }}</p>
        <c-input
          icon="fa fa-user"
          :max="20"
          focus
          class="mb-2"
          type="text"
          placeholder="Username"
          autocomplete="off"
          v-model="email"
          name="email"
          @blur="onBlurUserID"
        />
        <c-input
          icon="fa fa-lock"
          class="mb-2"
          type="password"
          placeholder="Password"
          autocomplete="off"
          v-model="password"
          name="password"
        />
        <span class="text-danger">{{errorMessage}}</span>
        <div class="row justify-content-end">
          <c-select
            :disabled="disabledShift"
            class="mb-2 col-7"
            customLabelClass="col-6"
            :label="$t('labels.shift')"
            :options="workingShift"
            labelName="shift"
            keyName="shift"
            :clearable="false"
            v-model="shift"
          ></c-select>
        </div>

        <div class="row">
          <div class="col-7">
            <app-checkbox type="icheck" v-model="rememberMe">
              {{ $t("labels.rememberMe") }}
            </app-checkbox>
          </div>
          <div class="col-5">
            <app-button
              class="btn-primary"
              type="submit"
              block="true"
              :loading="isAuthLoading"
              :disabled="isAuthLoading  || !ableToSign"
            >
              {{ $t("labels.signIn") }}
            </app-button>
          </div>
        </div>
      </form>
      <form v-else @submit.prevent="onClickOK">
        <p class="login-box-msg">{{ $t("labels.shiftInformation") }}</p>
        <div class="row">
          <label class="col" for="">Current Time</label>
          <span class="col text-end">{{formatDateTime(new Date())}}</span>
        </div>
        <div class="row">
          <label class="col" for="">{{$t('labels.auditDate')}}</label>
          <span class="col text-end">{{formatDate(shiftForm.audit_date)}}</span>
        </div>
        <div class="row">
          <label class="col" for="">{{$t('labels.startTime')}}</label>
          <span class="col text-end"
            >{{formatDateTime(shiftForm.start_date)}}</span
          >
        </div>
        <div class="text-divider mb-1 mt-0"></div>
        <c-input
          type="number"
          formatted
          showZeroNumber
          class="mb-1"
          customLabelClass="col-5"
          :label="$t('labels.openingBalance')"
          v-model="shiftForm.opening_balance"
        ></c-input>
        <c-input
          disabled
          type="number"
          formatted
          showZeroNumber
          customLabelClass="col-5"
          :label="$t('labels.currentBalance')"
          v-model="shiftForm.current_balance"
        ></c-input>
        <div class="text-divider mb-1 mt-1"></div>
        <!-- <button class="mt-2 w-100 btn btn-primary" type="submit">
          {{$t('buttons.ok')}}
        </button> -->
        <app-button
          id="btnShiftOK"
          class="btn-primary"
          type="submit"
          block="true"
          :loading="isAuthLoading"
          :disabled="isAuthLoading"
        >
          {{ $t("buttons.ok") }}
        </app-button>
      </form>

      <!-- <div class="social-auth-links text-center mt-2 mb-3">
                <app-button
                    class="btn-primary"
                    icon="facebook"
                    block="true"
                    @click="loginByFacebook"
                    :loading="isFacebookLoading"
                    :disabled="isAuthLoading || isGoogleLoading"
                >
                    {{ $t("labels.signInUsingFB") }}
                </app-button>
                <app-button
                    class="btn-danger"
                    icon="google-plus"
                    block="true"
                    @click="loginByGoogle"
                    :loading="isGoogleLoading"
                    :disabled="isAuthLoading || isFacebookLoading"
                >
                    {{ $t("labels.SignInUsingGoogle") }}
                </app-button>
            </div> -->
      <!-- /.social-auth-links -->

      <!-- <p class="mb-1">
                <router-link to="/forgot-password">
                    {{ $t("labels.forgotPassword") }}
                </router-link>
            </p>
            <p class="mb-0">
                <router-link to="/register" class="text-center">
                    {{ $t("labels.registerMembership") }}
                </router-link>
            </p> -->
    </div>
    <!-- /.card-body -->
  </div>

  <div
    v-if="subscription.ShowLogo && subscription.ImageUrl"
    class="center-block text-center position-fixed mt-1 start-0 end-0"
  >
    <router-link to="/" class="h1"
      ><b>{{ $t("labels.cakrasoft") }} </b>{{ $t("labels.app") }}</router-link
    >
    <br />
    <b> {{ $t("labels.version") }}</b>
    <span>:&nbsp;{{version}}</span>&nbsp;
  </div>
  <!-- /.card -->
</div>
