<c-modal
  size="md"
  confirm
  saveText="confirm"
  close
  save
  :isSaving="isSaving"
  @save="handleSave"
  @close="$emit('close')"
  :title="$t('title.changePassword')"
>
  <v-form
    class="main-registration-form"
    ref="validate"
    @submit="onSubmit(null,false)"
    :validation-schema="schema"
    @invalid-submit="onInvalidSubmit"
  >
    <c-input
      type="password"
      class="mb-1"
      :label="$t('labels.oldPassword')"
      v-model="form.old_password"
      name="Old Password"
      showError
      :errorText="errors['Old Password']"
    >
    </c-input>
    <c-input
      type="password"
      class="mb-1"
      :label="$t('labels.newPassword')"
      v-model="form.new_password"
      name="New Password"
      showError
      :errorText="errors['New Password']"
    ></c-input>
    <c-input
      type="password"
      class="mb-1"
      :label="$t('labels.confirmPassword')"
      v-model="form.confirm_password"
      name="Confirm Password"
      showError
      :errorText="errors['Confirm Password']"
    ></c-input>
  </v-form>
</c-modal>
