<section>
  <div>
    <h2>Rooms</h2>
    <div class="row justify-content-between">
      <p class="col">Assign room numbers to each room type.</p>
      <button
        type="button"
        class="btn btn-primary mb-1 col-md-2"
        @click="handleInsert"
      >
        <i class="fa fa-plus"></i>
        {{$t('buttons.insert')}}
      </button>
    </div>
    <ag-grid-vue
      :style="$global.agGrid.styleAgGridFrame1"
      :class="$global.agGrid.themeAgGrid"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :gridOptions="gridOptions"
      :defaultColDef="$global.agGrid.defColDef"
      :context="context"
      :getRowNodeId="getRowNodeId"
      :frameworkComponents="frameworkComponents"
      @gridReady="onGridReady"
    />
  </div>
  <c-modal
    v-if="showForm"
    size="md"
    :title="title"
    confirm
    save
    @save="handleSave"
    close
    @close="showForm=false"
  >
    <v-form ref="formElement" @submit="onSubmit" :validation-schema="schema">
      <c-input
        required
        class="mb-1"
        :label="$t('labels.number')"
        v-model="form.number"
        name="Number"
        max="20"
        showError
      >
        <template #append-end>
          <c-checkbox
            class="col-9"
            :label="$t('labels.smokingRoom')"
            v-model="form.is_smoking"
          ></c-checkbox
        ></template>
      </c-input>
      <c-select
        required
        :clearable="false"
        class="mb-1"
        :label="$t('labels.roomType')"
        v-model="form.room_type_code"
        :options="options.RoomType"
        keyName="code"
        labelName="name"
        :max="100"
        name="Room Type"
        showError
      ></c-select>
      <c-select
        required
        :clearable="false"
        class="mb-1"
        customClass="col-5 plx-9"
        :label="$t('labels.bedType')"
        v-model="form.bed_type_code"
        :options="options.BedType"
        keyName="code"
        labelName="name"
        :max="100"
        name="Bed Type"
        showError
      ></c-select>
      <!-- <c-select
        class="mb-1"
        :label="$t('labels.roomView')"
        v-model="form.view_code"
        :options="options.RoomView"
        keyName="code"
        labelName="name"
        :max="100"
        name="RoomView"
        showError
      ></c-select> -->
      <c-input
        required
        class="mb-1"
        :max="100"
        customClass="col-3 plx-9"
        :label="$t('labels.building')"
        v-model="form.building"
        name="Building"
        showError
      ></c-input>
      <c-input
        required
        class="mb-1"
        :max="100"
        customClass="col-3 plx-9"
        :label="$t('labels.floor')"
        v-model="form.floor"
        name="Floor"
        showError
      ></c-input>
      <c-input
        required
        spinner
        class="mb-1"
        :max="100"
        customClass="col-3 plx-9"
        :label="$t('labels.idSort')"
        v-model="form.id_sort"
        name="ID sort"
        showError
      ></c-input>
      <c-input
        type="textarea"
        class="mb-1"
        :label="$t('labels.description')"
        v-model="form.description"
        name="Description"
        showError
      ></c-input>
    </v-form>
  </c-modal>
  <c-dialog
    v-if="showConfirmation"
    @confirm="onDelete"
    @close="showConfirmation=false"
  ></c-dialog>
</section>
