<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="StatutoryCode"
            id="StatutoryCode"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.code')"
            v-model="form.statutoryCode"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="StatutoryName"
            id="StatutoryName"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.name')"
            v-model="form.statutoryName"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="StatutoryDescription"
            id="StatutoryDescription"
            class="row mb-1"
            :label="$t('labels.payroll.employee.description')"
            v-model="form.statutoryDescription"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="type"
            labelName="name"
            keyName="code"
            v-model="form.statutoryType"
            :label="$t('labels.payroll.payroll.type')"
            :options="typeOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-input
            showZeroNumber
            formatted
            type="number"
            name="defaultAmount"
            id="defaultAmount"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.defaultAmount')"
            :max="9999999999"
            :min="0"
            v-model="form.statutoryDefaultAmount"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            showZeroNumber
            type="number"
            name="quantity"
            id="quantity"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.quantity')"
            v-model="form.statutoryQty"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="unit"
            id="unit"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.unit')"
            v-model="form.statutoryUnit"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="taxable"
            labelName="name"
            keyName="code"
            v-model="form.statutoryTaxable"
            :label="$t('labels.payroll.payroll.taxable')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="includedProrate"
            labelName="name"
            keyName="code"
            v-model="form.statutoryIncludedProrate"
            :label="$t('labels.payroll.payroll.includedProrate')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="showInPayslip"
            labelName="name"
            keyName="code"
            v-model="form.statutoryShowInPayslip"
            :label="$t('labels.payroll.payroll.showInPayslip')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.statutoryStatus"
                :value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.statutoryStatus"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
