<!-- Content Header (Page header) -->
<section class="no-connection content">
  <div
    class="d-flex row bg-secondary text-center vh-100 justify-content-center mb-2"
  >
    <div class="row bg-blue h-50 w-100">
      <div class="x1">
        <div class="cloud"></div>
      </div>

      <div class="x2">
        <div class="cloud"></div>
      </div>

      <div class="x3">
        <div class="cloud"></div>
      </div>

      <div class="x4">
        <div class="cloud"></div>
      </div>

      <div class="x5">
        <div class="cloud"></div>
      </div>
    </div>
    <div class="row bg-white h-50 w-100"></div>
  </div>
  <div
    class="position-absolute position-absolute top-50 start-50 translate-middle align-self-center no-connectiona-container"
  >
    <img class="row mb-3" src="/images/no_connection.png" height="250" />
    <h5 class="mb-5 text-center">
      Please check your internet connection, and try again
    </h5>
    <div class="row justify-content-center">
      <button type="button" class="col-md-3 btn btn-primary" @click="reload">
        Try again
      </button>
    </div>
  </div>
</section>
