.title-width{
  min-width: 100px;
}

.transaction-header{
  label{
    margin-bottom: 0;
    font-size: 12px;
  }
  span{
    font-size: 12px;
  }
}

#searchOption {
  .input-group{
    padding-right: 0;
    padding-left: 0;
  }
}
 
@media only screen and (min-width: 900px) {
  .transaction {
    .btn-transaction {
      max-width: 120px;
      min-width: 120px;
    }
  }
}