.DS_Store
node_modules
/dist

vite.config.js
tsconfig.json
sitemap.xml
README.md
package.json
package-lock.json
newrelic_agent.log
LICENSE
jest.config.js
index.html
httpd.conf
Dockerfile
docker-compose.yml
cypress.json
build.bat
build-staging.bat

tests
server
public

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/build
blank.ts
build.zip
public/images/company
.env.production 
public/report/export
public/images/outlet/*
.env.staging