.DS_Store
node_modules
/dist


/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/build
blank.ts
build.zip
public/images/company
.env.production 
public/report/export
public/images/outlet/*
.env.staging

#custom 

vite.config.js
tsconfig.json
sitemap.xml
README.md
package.json
package-lock.json
newrelic_agent.log
LICENSE
jest.config.js
index.html
httpd.conf
Dockerfile
docker-compose.yml
cypress.json
build.bat
build-staging.bat

tests
server
public

src/app/*
src/stores
src/interfaces

src/router/menu/accounting-menu.ts
src/router/menu/assets-menu.ts
src/router/menu/banquet-menu.ts
src/router/menu/crm-menu.ts
src/router/menu/point-of-sales-menu.ts
src/router/menu/report-menu.ts
src/router/menu/tools-menu.ts

src/services/api/auth
src/services/api/banquet
src/services/api/channel-manager
src/services/api/configuration
src/services/api/general
src/services/api/guest-portal
src/services/api/hotel
src/services/api/point-of-sales
src/services/api/report
src/services/api/sales-activity
src/services/api/transaction
src/services/api/utils
src/services/api/wizard
src/services/auth.ts
src/services/resource.ts

src/store
src/stores

src/views/modules