<section>
  <div>
    <!-- <h2>Property Information</h2>
    <div class="row justify-content-between">
      <p class="col">
        In this section, you will specify the format and settings related to
        your hotel's property information and system configurations. These
        details help establish consistency and streamline operations within your
        hotel management system.
      </p>
    </div> -->

    <div class="accordion-body row">
      <hotel-information-form
        id="hotelInformation"
        ref="hotelInformationElement"
      ></hotel-information-form>
    </div>
  </div>
</section>
