<div class="p-2">
  <div class="row mt-5">
    <div class="col">
      <textarea v-model="source" name="" id="" cols="100" rows="10"></textarea>
    </div>
    <div class="col">
      <textarea v-model="result" name="" id="" cols="100" rows="10"></textarea>
    </div>
  </div>
  <button type="button" class="btn btn-primary" @click="handleConvert2">
    Convert
  </button>
  <!-- //Encrypt -->
  <div class="row mt-5">
    <div class="col">
      <textarea
        v-model="plainText"
        name=""
        id=""
        cols="100"
        rows="10"
      ></textarea>
      <input placeholder="salt" class="mb-1" type="text" v-model="salt" />
    </div>
    <div class="col">
      <textarea
        v-model="encryptedText"
        name=""
        id=""
        cols="100"
        rows="10"
      ></textarea>
    </div>
  </div>
  <button type="button" class="btn btn-primary" @click="encrypt">
    Encrypt
  </button>
  <button type="button" class="btn btn-primary" @click="decrypt">
    Decrypt
  </button>
</div>
