<c-modal
  :title="title"
  size="xl"
  @close="onClose"
  @save="onSubmit"
  :isSaving="isSaving"
  class="generate-payroll-modal"
>
  <div @click.stop class="generate-modal-content">
    <c-form
      @submit="onSave"
      ref="inputFormValidation"
      :validation-schema="schema"
      @invalid-submit="onInvalidSubmit"
      class="input-form row"
      v-slot="{resetForm}"
    >
      <div class="form-section">
        <div class="row">
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              name="ComponentType"
              labelName="name"
              keyName="code"
              v-model="form.component_type"
              :label="$t('labels.payroll.payroll.type')"
              :options="typeOptions"
              @change="onComponentTypeChange"
              :disabled="modalMode === $global.modeData.edit"
            />
          </div>
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              selectType="column"
              name="ComponentCode"
              labelName="name"
              keyName="code"
              v-model="form.payroll_component_code"
              :label="$t('labels.payroll.payroll.component')"
              :options="componentOptions"
              :columnOptions="columnOptions"
              :disabled="!form.component_type || modalMode === $global.modeData.edit"
              @change="onComponentChange"
            />
          </div>
          <div class="col-md-6">
            <div class="row mb-1">
              <div class="col-9">
                <c-input
                  formatted
                  showZeroNumber
                  :required="form.is_override"
                  name="Amount"
                  id="Amount"
                  type="number"
                  customLabelClass="col-4"
                  :label="$t('labels.payroll.payroll.amount')"
                  v-model="form.amount"
                  :disabled="!form.payroll_component_code || !form.is_override"
                />
              </div>
              <div class="col-3 d-flex">
                <c-checkbox
                  class="align-items-center"
                  name="Override"
                  id="Override"
                  :label="$t('labels.override')"
                  v-model="form.is_override"
                  :disabled="!form.payroll_component_code || isFixedComponent"
                  @change="onOverrideAmountChange"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <c-input
              required
              type="number"
              name="Qty"
              id="Qty"
              class="row mb-1"
              :label="$t('labels.payroll.payroll.quantity')"
              v-model="form.quantity"
              :min="1"
              :disabled="!form.payroll_component_code"
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              required
              name="EffectiveDate"
              id="EffectiveDate"
              customLabelClass="col-3 mb-1"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              :label="$t('labels.payroll.employee.effectiveDate')"
              v-model="form.effective_date"
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              id="EndDate"
              name="EndDate"
              customLabelClass="col-3 mb-1"
              :label="$t('labels.payroll.employee.endDate')"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              v-model="form.end_date"
            />
          </div>
          <div class="col-md-6">
            <c-input
              type="textarea"
              name="Remark"
              id="Remark"
              class="row mb-1"
              :label="$t('labels.remark')"
              v-model="form.remark"
            />
          </div>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex justify-content-end mt-4">
        <button
          type="button"
          class="btn btn-danger mr-1"
          @click="onClose"
          :disabled="isSaving"
        >
          <i class="fas fa-times me-1"></i>
          {{$t('buttons.cancel')}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          @click="onSubmit"
          :disabled="isSaving"
        >
          <div
            v-if="isSaving"
            class="spinner-border spinner-border-sm me-2"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <i v-else class="fa fa-save me-1"></i>
          {{isSaving ? 'Saving...' : $t('buttons.save')}}
        </button>
      </div>
    </c-form>
  </div>
</c-modal>
