<section>
  <breakdown @insertBreakdown="onInsertBreakdown" @duplicateBreakdown="onDuplicateBreakdown" @editBreakdown="onEditBreakdown" @delete="onDeleteBreakdown" @trackingData="handleTrackingData" id="breakdown" ref="breakdownElement"></breakdown>
  <business-source @insert="onInsertBusinessSource" @duplicate="onDuplicateBusinessSource" @edit="onEditBusinessSource" @delete="onDelete" @isSaveDataBusiness="isSaveData" @trackingData="handleTrackingData" id="business_source" ref="businessSourceElement"></business-source>
</section>

<!-- :rowData="businessSourceRowData"  -->
