<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form accordian -->
      <div id="parrentAccordion" class="accordion">
        <!-- employee information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemEmployeeInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#employeeInformation"
              aria-controls="employeeInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.employeeInformation')}}
            </button>
          </h6>
          <div
            id="employeeInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="employeeInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="SelectEmployee"
                    labelName="name"
                    keyName="employee_id"
                    v-model="form.employee_id"
                    :label="$t('labels.payroll.attendance.selectEmployee')"
                    :columnOptions="columnOptions"
                    :options="employeeOptions"
                    @change="onEmployeeChange"
                    :disabled="modeData === $global.modeData.edit"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    type="text"
                    name="Department"
                    id="Department"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.department')"
                    v-model="form.department_name"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    name="Position"
                    id="Position"
                    class="row mb-1"
                    type="text"
                    v-model="form.position_name"
                    :label="$t('labels.payroll.employee.position')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- salary adjustment information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemDocumentInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#documentInformation"
              aria-controls="sdocumentnformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.documentInformation')}}
            </button>
          </h6>
          <div
            id="documentInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="documentInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4 mb-1">
                  <c-select
                    required
                    offset="right"
                    class="row"
                    name="DocumentType"
                    labelName="name"
                    keyName="code"
                    v-model="form.document_type_code"
                    :label="$t('labels.payroll.employee.documentType')"
                    :options="documentTypeOptions"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-input
                    type="file"
                    name="DocumentFile"
                    id="DocumentFile"
                    class="row"
                    v-model="form.file"
                    :label="$t('labels.payroll.employee.documentFile')"
                    @change="handleFileChange"
                    :required="modeData === $global.modeData.insert"
                  />
                  <div
                    v-if="modeData === $global.modeData.edit && form.file_name"
                    class="mt-1"
                  >
                    <small class="text-muted">
                      {{$t('labels.payroll.employee.currentFile')}}: {{
                      form.file_name }}
                    </small>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    required
                    name="IssueDate"
                    id="IssueDate"
                    customLabelClass="col-3"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    :label="$t('labels.payroll.employee.issueDate')"
                    v-model="form.issue_date"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    name="ExpiryDate"
                    id="ExpiryDate"
                    customLabelClass="col-3"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    :label="$t('labels.payroll.employee.expiryDate')"
                    v-model="form.expiry_date"
                    validate
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-input
                    type="textarea"
                    name="Remark"
                    id="Remark"
                    class="row"
                    :label="$t('labels.remark')"
                    v-model="form.remark"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
      <!-- <div class="tabs">
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                id="form-document-tab"
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-document"
                aria-controls="form-document"
                aria-selected="true"
                tabindex="-1"
              >
                {{$t('labels.payroll.employee.document')}}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                id="form-document-type-tab"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-document-type"
                aria-controls="form-document-type"
                aria-selected="false"
                tabindex="-1"
              >
                {{$t('labels.payroll.employee.documentType')}}
              </button>
            </li>
          </ul>
        </div>

          <div
            id="form-document-type"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="form-document-type-tab"
          >
            <div class="row mb-3">
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="typeCode"
                  id="typeCode"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.typeCode')"
                  v-model="formDocumentType.type_code"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="typeName"
                  id="typeName"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.typeName')"
                  v-model="formDocumentType.type_name"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  id="remark"
                  class="row mb-1"
                  type="text"
                  name="remark"
                  v-model="formDocumentType.remark"
                  :label="$t('labels.remark')"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="required"
                  labelName="name"
                  keyName="code"
                  v-model="formDocumentType.required"
                  :label="$t('labels.payroll.employee.required')"
                  :options="requiredOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="allowExpiry"
                  labelName="name"
                  keyName="code"
                  v-model="formDocumentType.allow_expiry"
                  :label="$t('labels.payroll.employee.allowExpiry')"
                  :options="requiredOptions"
                >
                </c-select>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                type="button"
                class="btn btn-danger mr-1 px-3"
                @click="onClose"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
              </button>
              <button
                type="button"
                class="btn btn-primary px-3"
                @click="onSubmit"
              >
                <i class="fa fa-save"></i>
                {{$t('buttons.save')}}
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</c-form>
