<!-- Active Menu -->
<nav
  v-if="!isMobileView && activeMenu.length > 0"
  class="active-menu-bar main-header navbar navbar-expand p-0"
  :class="navbarVariant"
>
  <ul class="navbar-nav">
    <perfect-scrollbar>
      <li
        class="nav-item d-none d-sm-inline-block position-relative"
        :class="{ 'dashboard': item.name == 'dashboard'}"
        v-for="item in activeMenu"
      >
        <div
          class="nav-link"
          :class="{'active': item.path == selectedMenu}"
          @click="onClickMenu(item)"
        >
          {{ item.label ? $t(item.label) : item.name }}
        </div>
        <i
          class="close-icon fa fa-times position-absolute"
          @click="onCloseMenu(item)"
        ></i>
      </li>
    </perfect-scrollbar>
  </ul>
</nav>
