<section class="content">
  <div class="container-fluid">
    <!-- button -->
    <div class="d-flex justify-content-between mb-2">
      <button
        title="Back"
        type="button"
        class="btn btn-secondary mr-1"
        @click="handleBack"
      >
        <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>{{
        $t('buttons.back') }}
      </button>
      <div>
        <button
          title="Save Disbursement"
          type="button"
          class="btn btn-secondary mr-1"
          @click="handleSave('', $global.modePayroll.save)"
        >
          <i class="fa fa-save mr-1" aria-hidden="true"></i>{{
          $t('buttons.save') }}
        </button>
        <button
          title="Mark as Completed"
          type="button"
          class="btn btn-success mr-1"
          @click="handleSave('', $global.modePayroll.completed)"
        >
          <i class="fa fa-check mr-1" aria-hidden="true"></i>{{
          $t('buttons.completed') }}
        </button>
        <button
          title="Process Payment"
          type="button"
          class="btn btn-primary mr-1"
          @click="handleShowModal"
        >
          {{ $t('buttons.process') }}
          <i class="fa fa-arrow-right mr-1" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <!-- disbursement detail -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.periodDetail')}}</h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.periodName')}}</strong>
              </div>
              <div class="col-8">: {{periodData.period_name}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>Placement</strong>
              </div>
              <div class="col-8">: {{periodData.placement}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.periodType')}}</strong>
              </div>
              <div class="col-8">: {{periodData.period_type}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.periodDate')}}</strong>
              </div>
              <div class="col-8">
                : {{periodData.start_date}} - {{periodData.end_date}}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.paymentDate')}}</strong>
              </div>
              <div class="col-8">: {{periodData.payment_date}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.totalEmployees')}}</strong>
              </div>
              <div class="col-8">: {{periodData.total_employees}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.totalPayment')}}</strong>
              </div>
              <div class="col-8">
                : Rp{{formatCurrency(periodData.total_payment)}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.status')}}</strong>
              </div>
              <div class="col-8">
                :
                <span
                  class="badge text-bg-secondary px-3 py-1"
                  :class="getStatusBadgeClass(periodData.status)"
                  >{{periodData.status}}</span
                >
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.level')}}</strong>
              </div>
              <div class="col-8">
                : {{periodData.current_level}} of {{periodData.total_level}}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.payroll.payroll.approver')}}</strong>
              </div>
              <div class="col-8">: {{periodData.approved_by}}</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-muted">
                <strong>{{$t('labels.remark')}}</strong>
              </div>
              <div class="col-8">: {{periodData.remark}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- period bank summary -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.summaryPaymentByBank')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefsSummary"
          :rowData="rowDataSummary"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- employee payroll list -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.employeePaymentDetails')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- modal -->
    <c-modal
      v-show="showModal"
      :title="$t('title.selectPaymentMethod')"
      size="lg"
      @close="showModal = false"
      @save="handleSaveModal"
      :isSaving="isProcessing"
    >
      <div @click.stop>
        <div class="row">
          <!-- manual payment -->
          <div class="row mb-3">
            <c-radio
              class="mb-2"
              :label="$t('labels.payroll.payroll.manualPayment')"
              v-model="form.payment_method"
              :value="Manual"
            ></c-radio>

            <!-- select bank -->
            <div class="col-md-8 ms-4">
              <c-select
                required
                offset="right"
                class="row mb-1"
                name="selectBank"
                labelName="name"
                keyName="code"
                v-model="form.select_bank"
                :label="$t('labels.payroll.payroll.selectBank')"
                :options="selectBankOptions"
                @change="onSelectBankChange"
              />
            </div>

            <!-- select format file -->
            <div class="col-md-8 ms-4">
              <div class="row">
                <div class="col-sm-3">
                  <label
                    class="form-label"
                    style="font-size: 12px; font-weight: 700; color: red"
                    >{{$t('labels.payroll.payroll.formatFile')}}</label
                  >
                </div>
                <div class="col-sm-9 d-flex">
                  <c-radio
                    class="me-3"
                    :label="$t('labels.payroll.payroll.csv')"
                    v-model="form.format_file"
                    :value="CSV"
                  ></c-radio>
                  <c-radio
                    class="me-3"
                    :label="$t('labels.payroll.payroll.excel')"
                    v-model="form.format_file"
                    value="Excel"
                  ></c-radio>
                </div>
              </div>
            </div>

            <!-- additional options -->
            <div class="col-md-8 ms-4">
              <div class="row">
                <div class="col-sm-3">
                  <label
                    class="form-label"
                    style="font-size: 12px; font-weight: 700"
                    >{{$t('labels.payroll.payroll.additionalOptions')}}</label
                  >
                </div>
                <div class="col-sm-9">
                  <c-check-box
                    class="me-3"
                    :label="$t('labels.payroll.payroll.separateFileForEachBank')"
                    v-model="form.is_separate_file_each_bank"
                    :value="separateFileForEachBank"
                  ></c-check-box>
                  <c-check-box
                    class="me-3"
                    :label="$t('labels.payroll.payroll.includeEmployeeIdInDescription')"
                    v-model="form.is_include_employee_id"
                    value="includeEmployeeIdInDescription"
                  ></c-check-box>
                  <c-check-box
                    class="me-3"
                    :label="$t('labels.payroll.payroll.includeEmployeeNameInDescription')"
                    v-model="form.is_include_employee_name"
                    value="includeEmployeeNameInDescription"
                  ></c-check-box>
                </div>
              </div>
            </div>
          </div>

          <!-- automatic payment -->
          <div class="row mb-3">
            <c-radio
              disabled="true"
              class="me-3"
              :label="$t('labels.payroll.payroll.automaticPayment')"
              v-model="form.payment_method"
              value="Automatic"
            ></c-radio>

            <!-- select provider -->
            <div class="col-md-8 ms-4">
              <c-select
                required
                offset="right"
                class="row mb-1"
                name="selectProvider"
                labelName="name"
                keyName="code"
                v-model="form.select_provider"
                :label="$t('labels.payroll.payroll.selectProvider')"
                :options="selectProviderOptions"
              />
            </div>
          </div>
        </div>

        <!-- button -->
        <div class="d-flex justify-content-end mt-2">
          <button
            type="button"
            class="btn btn-danger mr-1 px-3"
            @click="showModal = false"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
            {{$t('buttons.cancel')}}
          </button>
          <button
            type="button"
            class="btn btn-primary px-3"
            @click="handleSaveModal"
          >
            {{$t('buttons.process')}}
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </c-modal>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body> {{dialogMessage}} </template>
    </c-dialog>
  </div>
</section>
