<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="DepartmentCode"
            id="DepartmentCode"
            class="row mb-1"
            :label="$t('labels.payroll.employee.code')"
            v-model="form.department_code"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="DepartmentName"
            id="DepartmentName"
            class="row mb-1"
            :label="$t('labels.payroll.employee.departmentName')"
            v-model="form.department_name"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="textarea"
            name="DepartmentDescription"
            id="DepartmentDescription"
            class="row mb-1"
            :label="$t('labels.payroll.employee.description')"
            v-model="form.description"
          />
        </div>
        <div class="col-md-4">
          <c-select
            filter
            multiple
            offset="right"
            class="row mb-1"
            selectType="column"
            name="PlacementCode"
            labelName="name"
            keyName="code"
            v-model="form.placement_code"
            :label="$t('labels.payroll.employee.placement')"
            :columnOptions="columnOptions"
            :options="departmentPlacementOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            filter
            offset="right"
            class="row mb-1"
            selectType="column"
            name="ManagerCode"
            labelName="name"
            keyName="code"
            v-model="form.manager_code"
            :label="$t('labels.payroll.employee.manager')"
            :columnOptions="columnOptions"
            :options="departmentManagerOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            filter
            multiple
            offset="right"
            class="row mb-1"
            selectType="column"
            name="SupervisorCode"
            labelName="name"
            keyName="code"
            v-model="form.supervisor_code"
            :label="$t('labels.payroll.employee.supervisor')"
            :columnOptions="columnOptions"
            :options="departmentSupervisorOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.status"
                value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.status"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
