<footer
  class="main-footer"
  :class="{'fixed':windowSize != 'xs'}"
  @mouseover="onMouseOver"
  @mouseleave="onMouseLeave"
>
  <running-text v-if="showRunningText"></running-text>
  <div class="footer-wrapper">
    <strong>
      <span> {{user.ID}}</span>
      <span>: &nbsp;{{user.GroupCode}}</span>
    </strong>
    <!-- <router-link :to="{name:'Dayend Close'}"> -->
    <div
      id="auditDateStatus"
      class="d-none d-sm-inline-block mr-1"
      :class="{'text-red': !isAuditDateSameWithCurrentDate}"
    >
      <i
        title="Audit date is different with current date"
        v-if="!isAuditDateSameWithCurrentDate"
        class="fa fa-exclamation-triangle mr-1"
      ></i>
      <b>{{ $t("labels.auditDate") }}</b>
      <span>:&nbsp;{{auditDate}} </span>
    </div>
    <!-- </router-link> -->
    <div class="d-none d-sm-flex">
      <div class="cursor-pointer d-flex" @click="onClickVersion">
        <b> {{ $t("labels.version") }}</b>
        <span>:&nbsp;{{version}}</span>&nbsp;
      </div>
      |&nbsp;
      <strong class="mr-2">
        <span>{{ $t("labels.copyright") }} &copy; {{currentYear}}</span>
        <a
          href="https://cakrasoft.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span>&nbsp;cakrasoft.com</span>
        </a>
      </strong>
    </div>
  </div>

  <b-popover
    v-if="!isAuditDateSameWithCurrentDate"
    target="auditDateStatus"
    triggers="hover"
    placement="top"
  >
    <template #title><div>Warning</div></template>
    <span v-html="$t('messages.auditDateIsDifferentWithCurrentDate')"> </span>
  </b-popover>
  <Changelog v-if="showChangelog" @close="showChangelog=false"></Changelog>
</footer>
