<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="DeductionsCode"
            id="DeductionsCode"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.code')"
            v-model="form.deductionsCode"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="DeductionsName"
            id="DeductionsName"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.name')"
            v-model="form.deductionsName"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="DeductionsDescription"
            id="DeductionsDescription"
            class="row mb-1"
            :label="$t('labels.payroll.employee.description')"
            v-model="form.deductionsDescription"
          />
        </div>
        <div class="col-md-4">
          <c-select
            filter
            required
            offset="right"
            selectType="column"
            class="row mb-1"
            name="category"
            labelName="name"
            keyName="code"
            v-model="form.deductionsCategory"
            :label="$t('labels.payroll.payroll.category')"
            :options="deductionsCategoryOptions"
            :columnOptions="columnOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-input
            showZeroNumber
            formatted
            type="number"
            name="defaultAmount"
            id="defaultAmount"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.defaultAmount')"
            :max="9999999999"
            :min="0"
            v-model="form.deductionsDefaultAmount"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            showZeroNumber
            type="number"
            name="quantity"
            id="quantity"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.quantity')"
            v-model="form.deductionsQty"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="unit"
            id="unit"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.unit')"
            v-model="form.deductionsUnit"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="taxable"
            labelName="name"
            keyName="code"
            v-model="form.deductionsTaxable"
            :label="$t('labels.payroll.payroll.taxable')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="includedBpjsEmployee"
            labelName="name"
            keyName="code"
            v-model="form.deductionsIncludedBpjsEmplyoee"
            :label="$t('labels.payroll.payroll.includedBpjsEmployee')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="includedBpjsHealth"
            labelName="name"
            keyName="code"
            v-model="form.deductionsIncludedBpjsHealth"
            :label="$t('labels.payroll.payroll.includedBpjsHealth')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="includedProrate"
            labelName="name"
            keyName="code"
            v-model="form.deductionsIncludedProrate"
            :label="$t('labels.payroll.payroll.includedProrate')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="showInPayslip"
            labelName="name"
            keyName="code"
            v-model="form.deductionsShowInPayslip"
            :label="$t('labels.payroll.payroll.showInPayslip')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.deductionsStatus"
                value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.deductionsStatus"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
