<section>
  <div>
    <h2>Tax and Service</h2>
    <div class="row justify-content-between">
      <div class="col">
        <p>
          In this section, you can specify the tax and service charges
          associated with room rates in your hotel. These charges help cover
          additional costs and services provided to guests during their stay.
        </p>
      </div>
    </div>
    <v-form
      ref="formElement"
      @submit="onSubmit"
      :validation-schema="schema"
      class="mb-5"
    >
      <c-input
        type="number"
        formatted
        showZeroNumber
        customLabelClass="col-6"
        customClass="col-2  plx-9"
        class="mb-1 col-md-6"
        :max="100"
        :label="$t('labels.taxPercent')"
        v-model="form.tax"
        name="Tax"
        @change="onChange"
        showError
      ></c-input>
      <c-input
        type="number"
        showZeroNumber
        customLabelClass="col-6"
        customClass="col-2  plx-9"
        class="mb-1 col-md-6"
        formatted
        :max="100"
        :label="$t('labels.servicePercent')"
        v-model="form.service"
        @change="onChange"
        name="Service"
        showError
      ></c-input>
      <c-input
        type="number"
        formatted
        showZeroNumber
        customLabelClass="col-6"
        customClass="col-2  plx-9"
        class="mb-1 col-md-6"
        :max="100"
        :label="$t('labels.serviceTaxPercent')"
        v-model="form.service_tax"
        @change="onChange"
        name="Service Tax"
        showError
      >
      </c-input>

      <c-select
        :clearable="false"
        customLabelClass="col-6"
        customClass="col plx-9"
        class="mb-1 col-md-6"
        :label="$t('labels.defaultTaxService')"
        v-model="form.code"
        :options="taxServices"
        keyName="code"
        labelName="name"
        :max="100"
        name="Default"
        showError
      ></c-select>
    </v-form>
  </div>
</section>
