<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-between mb-2">
      <button
        title="Back"
        type="button"
        class="btn btn-secondary mr-1"
        @click="goBack()"
      >
        <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>{{
        $t('buttons.back') }}
      </button>
      <div>
        <button
          title="Save Draft"
          type="button"
          class="btn btn-secondary mr-1"
          @click="handleSave('', $global.modePayroll.save)"
          :disabled="!canSubmit || isSave"
        >
          <i class="fa fa-save mr-1" aria-hidden="true"></i>{{
          $t('buttons.save') }}
        </button>
        <button
          title="Submit for Approval"
          type="button"
          class="btn btn-success mr-1"
          @click="handleSubmitForApproval()"
          :disabled="!canSubmit || isSave"
        >
          <i class="fa fa-paper-plane mr-1" aria-hidden="true"></i>{{
          $t('buttons.submit') }}
        </button>
        <button
          title="Insert Component"
          type="button"
          class="btn btn-warning mr-1"
          @click="handleShowForm('', $global.modeData.insert)"
        >
          <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
          $t('buttons.insert') }}
        </button>
      </div>
    </div>

    <!-- insert form -->
    <transition>
      <div class="px-2">
        <c-input-form
          ref="inputFormElement"
          v-show="showForm"
          :modeData="modeData"
          :employeeId="employeeId"
          :periodId="periodId"
          :existingComponents="payrollComponents"
          :schema="schema"
          @save="handleSave"
          @close="showForm=false"
        />
      </div>
    </transition>

    <!-- Employee Information -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.employeeInformation')}}</h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-4">
            <c-input
              disabled
              id="employeeId"
              class="row mb-1"
              type="text"
              name="employeeId"
              v-model="employee.employee_id"
              :label="$t('labels.payroll.employee.employeeId')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="employeeName"
              class="row mb-1"
              type="text"
              name="employeeName"
              v-model="employee.employee_name"
              :label="$t('labels.payroll.employee.employeeName')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="placement"
              class="row mb-1"
              type="text"
              name="placement"
              v-model="employee.placement"
              :label="$t('labels.payroll.employee.placement')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="department"
              class="row mb-1"
              type="text"
              name="department"
              v-model="employee.department"
              :label="$t('labels.payroll.employee.department')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="position"
              class="row mb-1"
              type="text"
              name="position"
              v-model="employee.position"
              :label="$t('labels.payroll.employee.position')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="gender"
              class="row mb-1"
              type="text"
              name="gender"
              v-model="employee.gender"
              :label="$t('labels.payroll.employee.gender')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="taxNumber"
              class="row mb-1"
              type="text"
              name="position"
              v-model="employee.tax_number"
              :label="$t('labels.payroll.employee.taxNumber')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="maritialStatus"
              class="row mb-1"
              type="text"
              name="maritialStatus"
              v-model="employee.maritial_status"
              :label="$t('labels.payroll.employee.maritialStatus')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="taxNumber"
              class="row mb-1"
              type="text"
              name="position"
              v-model="employee.tax_number"
              :label="$t('labels.payroll.employee.taxNumber')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="employeeType"
              class="row mb-1"
              type="text"
              name="employeeType"
              v-model="employee.employee_type"
              :label="$t('labels.payroll.employee.employeeType')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="bankName"
              class="row mb-1"
              type="text"
              name="bankName"
              v-model="employee.bank_name"
              :label="$t('labels.payroll.employee.bankName')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="bankAccountHolder"
              class="row mb-1"
              type="text"
              name="bankAccountHolder"
              v-model="employee.bank_account_holder"
              :label="$t('labels.payroll.employee.bankAccountHolder')"
            />
          </div>
          <div class="col-md-4">
            <c-input
              disabled
              id="bankAccountNumber"
              class="row mb-1"
              type="text"
              name="bankAccountNumber"
              v-model="employee.bank_account_number"
              :label="$t('labels.payroll.employee.bankAccountNumber')"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.earnings')}}</h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div
            v-for="component in getComponentsByType('earnings')"
            :key="component.id"
            class="col-md-4"
          >
            <div
              class="d-flex justify-content-end mb-1"
              style="min-height: 16px"
            >
              <font-awesome-icon
                v-show="component.is_taxable"
                :icon="['fas', 'file-invoice-dollar']"
                class="me-1 text-info"
                data-bs-toggle="tooltip"
                title="Included in Tax Income (PPH 21)"
              />
              <font-awesome-icon
                v-show="component.is_included_in_bpjs_health"
                :icon="['fas', 'medkit']"
                class="me-1 text-success"
                data-bs-toggle="tooltip"
                title="Included in BPJS Kesehatan"
              />
              <font-awesome-icon
                v-show="component.is_included_in_bpjs_employee"
                :icon="['fas', 'hard-hat']"
                class="me-1 text-warning"
                data-bs-toggle="tooltip"
                title="Included in BPJS Ketenagakerjaan"
              />
            </div>
            <c-input
              :disabled="component.is_fixed"
              type="number"
              :name="component.name"
              :id="component.name"
              class="row mb-1"
              :max="9999999999"
              :min="0"
              :label="component.name"
              v-model="component.amount"
              formatted
              showZeroNumber
              @change="onComponentAmountChange(component)"
            />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <strong class="text-muted"
              >{{$t('labels.payroll.payroll.totalGrossSalary')}}</strong
            >
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.total_gross_salary)}}
          </div>
        </div>
      </div>
    </div>

    <!-- Deductions -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.deductions')}}</h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div
            v-for="component in getComponentsByType('deductions')"
            :key="component.id"
            class="col-md-4"
          >
            <div
              class="d-flex justify-content-end mb-1"
              style="min-height: 16px"
            >
              <font-awesome-icon
                v-show="component.is_taxable"
                :icon="['fas', 'file-invoice-dollar']"
                class="me-1 text-info"
                data-bs-toggle="tooltip"
                title="Included in Tax Income (PPH 21)"
              />
              <font-awesome-icon
                v-show="component.is_included_in_bpjs_health"
                :icon="['fas', 'medkit']"
                class="me-1 text-success"
                data-bs-toggle="tooltip"
                title="Included in BPJS Kesehatan"
              />
              <font-awesome-icon
                v-show="component.is_included_in_bpjs_employee"
                :icon="['fas', 'hard-hat']"
                class="me-1 text-warning"
                data-bs-toggle="tooltip"
                title="Included in BPJS Ketenagakerjaan"
              />
            </div>
            <c-input
              :disabled="component.is_fixed"
              type="number"
              :name="component.name"
              :id="component.name"
              class="row mb-1"
              :max="9999999999"
              :min="0"
              :label="component.name"
              v-model="component.amount"
              formatted
              showZeroNumber
              @change="onComponentAmountChange(component)"
            />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <strong class="text-muted"
              >{{$t('labels.payroll.payroll.totalDeductionSalary')}}</strong
            >
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.total_deduction_salary)}}
          </div>
        </div>
      </div>
    </div>

    <!-- Tax -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.pph21')}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p class="text-h6">
              {{$t('labels.payroll.payroll.totalGrossSalaryTaxable')}}
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp {{formatCurrency(form.total_gross_salary_taxable)}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="text-h6">
              {{$t('labels.payroll.payroll.taxRate')}}
              ({{$t('labels.payroll.payroll.terCategory')}}
              {{form.ter_category}})
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end">{{form.tax_rate}}%</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <strong class="text-muted"
              >{{$t('labels.payroll.payroll.taxAmount')}}
            </strong>
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.tax_amount)}} ~
            Rp{{formatCurrency(form.tax_amount_floor_up)}}
          </div>
        </div>
      </div>
    </div>

    <!-- Total Payment -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.totalPayment')}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p class="text-h6">
              {{$t('labels.payroll.payroll.totalGrossSalary')}}
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.total_gross_salary)}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="text-h6">
              {{$t('labels.payroll.payroll.totalDeductionSalary')}}
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.total_deduction_salary)}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="text-h6">{{$t('labels.payroll.payroll.pph21')}}</p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.tax_amount_floor_up)}}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <strong class="text-muted"
              >{{$t('labels.payroll.payroll.takeHomePay')}}</strong
            >
          </div>
          <div class="col-6 d-flex justify-content-end">
            Rp{{formatCurrency(form.take_home_pay)}}
          </div>
        </div>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body> {{dialogMessage}} </template>
    </c-dialog>
  </div>
</section>
