<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form -->
      <div class="row mb-3">
        <div class="col-md-4">
          <c-select
            filter
            required
            offset="right"
            class="row mb-1"
            selectType="column"
            name="Placement"
            labelName="name"
            keyName="code"
            v-model="form.placement_code"
            :label="$t('labels.payroll.employee.placement')"
            :columnOptions="columnOptions"
            :options="placementOptions"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            name="Code"
            id="Code"
            class="row mb-1"
            type="text"
            v-model="form.period_code"
            :label="$t('labels.payroll.payroll.code')"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            name="Name"
            id="Name"
            class="row mb-1"
            type="text"
            v-model="form.period_name"
            :label="$t('labels.payroll.payroll.name')"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="Type"
            labelName="name"
            keyName="code"
            v-model="form.period_type"
            :label="$t('labels.payroll.payroll.periodType')"
            :options="periodTypeOptions"
          />
        </div>
        <div class="col-md-4 mb-1">
          <c-datepicker
            required
            name="StartDate"
            id="StartDate"
            customLabelClass="col-3"
            :label="$t('labels.payroll.payroll.startDate')"
            type="date"
            valueType="YYYY-MM-DD"
            format="DD/MM/YYYY"
            v-model="form.start_date"
          />
        </div>
        <div class="col-md-4 mb-1">
          <c-datepicker
            required
            name="EndDate"
            id="EndDate"
            customLabelClass="col-3"
            :label="$t('labels.payroll.employee.endDate')"
            type="date"
            valueType="YYYY-MM-DD"
            format="DD/MM/YYYY"
            v-model="form.end_date"
          />
        </div>
        <div class="col-md-4 mb-1">
          <c-datepicker
            required
            name="PaymentDate"
            id="PaymentDate"
            customLabelClass="col-3"
            :label="$t('labels.payroll.payroll.paymentDate')"
            type="date"
            valueType="YYYY-MM-DD"
            format="DD/MM/YYYY"
            v-model="form.payment_date"
          />
        </div>
        <div class="col-md-4 mb-1">
          <c-input
            name="Remark"
            id="Remark"
            class="row mb-1"
            type="textarea"
            v-model="form.remark"
            :label="$t('labels.remark')"
          />
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button
          type="button"
          class="btn btn-danger mr-1 px-3"
          @click="onClose"
          :disabled="isSaving"
        >
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button
          type="button"
          class="btn btn-primary px-3"
          @click="onSubmit"
          :disabled="isSaving"
        >
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
