.small-box .icon > img {
  // font-size: 90px;
  // position: absolute;
  // left: 15px;
  // top: 24px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.small-box .icon > img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.small-box .icon {
  border-radius: 10px;
  padding: 10px;
  margin-left: 14px;
}

// .small-box .inner {
//   position: absolute;
//   left: 30px;
//   top: 24px;
// }
