<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Insert Holiday"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insert') }}
      </button>
    </div>

    <!-- insert form -->
    <transition name="fade">
      <c-input-form
        class="px-2"
        ref="inputFormElement"
        v-show="showForm"
        :schema="schema"
        :modeData="modeData"
        :holidayTypeOptions="holidayTypeOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <!-- filter -->
    <c-search-filter
      date-range
      :options="searchOptions"
      :searchDefault="searchDefault"
      @search="refreshData"
    >
      <template v-slot="{search}">
        <div class="col-md-6 d-flex mb-md-4">
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="all"
              id="all"
              v-model="search.filter[0]"
              value="0"
              @change="onRefresh"
            />
            <label for="all">{{ $t('commons.filter.checkList.all') }}</label>
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showPresent"
              id="showPresent"
              v-model="search.filter[0]"
              value="1"
              @change="onRefresh"
            />
            <label for="showPresent"
              >{{ $t('commons.filter.checkList.showActive') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showLate"
              id="showLate"
              v-model="search.filter[0]"
              value="2"
              @change="onRefresh"
            />
            <label for="showLate"
              >{{ $t('commons.filter.checkList.showInactive') }}</label
            >
          </div>
        </div>
      </template>
    </c-search-filter>

    <!-- table -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.holidayCalender')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body>{{dialogMessage}}</template>
    </c-dialog>
  </div>
</section>
