<!-- Main content -->
<section class="content">
  <transition name="slide-fade-right">
    <div v-show="showForm">
      <div class="card  h-100">
        <div class="card-header">
          <h3 class="card-title">{{ title }}
            <button type="button" class="close-button btn" @click="handleClose"><i class="fas fa-times"></i></button>
          </h3>
        </div>
        <div class="card-body">
          <Form @submit="handleSave" ref="formElement" :validation-schema="schema" @invalid-submit="onInvalidSubmit"
            class="input-form row" v-slot="{resetForm}">
            <div class="row">
              <div class="col-md-6">
                <c-select :focus="focus" required class="mb-1" v-model="form.account_code" :options="listDropdown.Account" @load="loadDropdown"
                  selectType="column" keyName="code" labelName="name" :columnOptions="columnOptions"
                  :label="$t('labels.account')" name="Account" @change="onChangeAccount" customLabelClass="col-3"
                  customClass="col-9">
                </c-select>
                <c-select filter required class="mb-1" v-model="form.company_code" :options="listDropdown.BusinessSource" @load="loadDropdown"
                  keyName="code" labelName="name" :label="$t('labels.businessSource')" name="Business Source"
                  customLabelClass="col-3" customClass="col-9">
                </c-select>
              </div>
              <div class="col-md-6">
                <c-select filter required class="mb-1" v-model="form.commission_type_code" @load="loadDropdown"
                  :options="listDropdown.CommissionType" keyName="code" labelName="name"
                  :label="$t('labels.commissionType')" name="Commission Type" customLabelClass="col-3"
                  customClass="col-9">
                </c-select>
                <c-input required class="mb-1" formatted showZeroNumber v-model="form.commission_value"
                  :label="$t('labels.commissionValue')" type="number" name="Commission Value" customLabelClass="col-3"
                  customClass="col-9">
                </c-input>
              </div>
            </div>
            <hr>
          </Form>
          <!-- // Button save -->
        </div>
          <save-close-button :isSaving="isSaving" @save="onSubmit" @close="handleClose"></save-close-button>
      </div>
    </div>
  </transition>
  <CDialog v-show="showDialog" w100 dialogTitle="Confirm" @confirm="deleteData" @cancel="showDialog= false" confirm>
    <template #body>
      {{ $t('messages.deleteConfirm2')}}
    </template>
  </CDialog>
</section>