<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="d-flex mb-2 justify-content-center h-100 align-content-center">
      <div class="card subscription-status col-lg-4">
        <div class="card-header bg-gradient-primary">Subscription Status</div>
        <div class="card-body">
          <div class="row mb-2">
            <label class="mb-0">Name</label>
            <span
              >{{subscriptionStatus.Name ?subscriptionStatus.Name: 'N/A'}}</span
            >
          </div>
          <div class="row mb-2">
            <label class="mb-0">Property Name</label>
            <span
              >{{subscriptionStatus.PropertyName
              ?subscriptionStatus.PropertyName: 'N/A'}}</span
            >
          </div>
          <div class="row mb-2">
            <label class="mb-0">Domain</label>
            <span
              >{{subscriptionStatus.Domain ?subscriptionStatus.Domain:
              'N/A'}}</span
            >
          </div>
          <div class="row mb-2">
            <label class="mb-0">Sub Domain</label>
            <span>{{subscriptionStatus.Subdomain}}</span>
          </div>
          <div class="row mb-2">
            <label class="mb-0">Subscription End</label>
            <span>{{formatFullDate(subscriptionStatus.EndDate)}}</span>
          </div>
          <div class="row mb-2">
            <label class="mb-0">Status</label>
            <span
              class="badge"
              :class="[subscriptionStatus.IsActive ? 'badge-success':'badge-danger']"
              >{{subscriptionStatus.IsActive ? "Active" : "Expire"}}</span
            >
          </div>
        </div>
        <div class="card-footer row justify-content-center">
          <button
            type="button"
            class="col-md-3 btn btn-primary mr-1"
            @click="onDashboard"
          >
            Dashboard
          </button>
          <button
            type="button"
            class="col-md-3 btn btn-success"
            @click="onContinue"
          >
            Control Panel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
