<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Insert Position"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('position', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insertPosition') }}
      </button>
      <button
        title="Insert Department"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('department', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insertDepartment') }}
      </button>
      <button
        title="Insert Placement"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('placement', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insertPlacement') }}
      </button>
    </div>

    <!-- insert form -->
    <transition name="fade" mode="out-in">
      <position-input-form
        ref="positionFormElement"
        v-if="showForm && currentFormType  === 'position'"
        class="px-2"
        :modeData="modeData"
        :levelOptions="positionLevelOptions"
        :departmentOptions="departmentOptions"
        :placementOptions="placementOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <transition name="fade" mode="out-in">
      <department-input-form
        ref="departmentFormElement"
        v-if="showForm && currentFormType  === 'department'"
        class="px-2"
        :modeData="modeData"
        :placementOptions="placementOptions"
        :managerOptions="managerOptions"
        :supervisorOptions="supervisorOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <transition name="fade" mode="out-in">
      <placement-input-form
        ref="placementFormElement"
        v-if="showForm && currentFormType  === 'placement'"
        class="px-2"
        :modeData="modeData"
        :countryOptions="countryOptions"
        :cityOptions="cityOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <!-- content -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.organization')}}</h3>
      </div>
      <div class="card-body">
        <div class="tabs">
          <!-- tab nav -->
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  id="position-tab"
                  class="nav-link active"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-position"
                  aria-controls="table-position"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.position')}}
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="department-tab"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-department"
                  aria-controls="table-department"
                  aria-selected="true"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.department')}}
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="placement-tab"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-placement"
                  aria-controls="table-placement"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.placement')}}
                </button>
              </li>
            </ul>
          </div>

          <!-- tab content -->
          <div class="tab-content mt-3">
            <!-- table position -->
            <div
              id="table-position"
              class="tab-pane active show fade"
              role="tabpanel"
              aria-labelledby="position-tab"
            >
              <ag-grid-vue
                :style="agGridSetting.styleAgGridFrame"
                :class="agGridSetting.themeAgGrid"
                :columnDefs="columnPositionDefs"
                :rowData="rowPositionData"
                :paginationPageSize="paginationPageSize"
                :gridOptions="Object.assign({}, gridOptions, { id: 'position-tab-grid' })"
                :context="context"
                :frameworkComponents="frameworkComponents"
                :enableCellChangeFlash="true"
                :rowSelection="rowSelection"
                :getContextMenuItems="getContextMenu"
                :defaultColDef="agGridSetting.defColDef"
                :rowGroupPanelShow="rowGroupPanelShow"
                :suppressDragLeaveHidesColumns="true"
                :suppressMakeColumnVisibleAfterUnGroup=" true"
                :statusBar="statusBar"
                @grid-ready="(params) => onGridReady(params, 'position-tab-grid')"
                @cellContextMenu="handleRowRightClicked"
              ></ag-grid-vue>
            </div>

            <!-- table department -->
            <div
              id="table-department"
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="department-tab"
            >
              <ag-grid-vue
                :style="agGridSetting.styleAgGridFrame"
                :class="agGridSetting.themeAgGrid"
                :columnDefs="columnDepartmentDefs"
                :rowData="rowDepartmentData"
                :paginationPageSize="paginationPageSize"
                :gridOptions="Object.assign({}, gridOptions, { id: 'department-tab-grid' })"
                :context="context"
                :frameworkComponents="frameworkComponents"
                :enableCellChangeFlash="true"
                :rowSelection="rowSelection"
                :getContextMenuItems="getContextMenu"
                :defaultColDef="agGridSetting.defColDef"
                :rowGroupPanelShow="rowGroupPanelShow"
                :suppressDragLeaveHidesColumns="true"
                :suppressMakeColumnVisibleAfterUnGroup=" true"
                :statusBar="statusBar"
                @grid-ready="(params) => onGridReady(params, 'department-tab-grid')"
                @cellContextMenu="handleRowRightClicked"
              ></ag-grid-vue>
            </div>

            <!-- table placement -->
            <div
              id="table-placement"
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="placement-tab"
            >
              <ag-grid-vue
                :style="agGridSetting.styleAgGridFrame"
                :class="agGridSetting.themeAgGrid"
                :columnDefs="columnPlacementDefs"
                :rowData="rowPlacementData"
                :paginationPageSize="paginationPageSize"
                :gridOptions="Object.assign({}, gridOptions, { id: 'placement-tab-grid' })"
                :context="context"
                :frameworkComponents="frameworkComponents"
                :enableCellChangeFlash="true"
                :rowSelection="rowSelection"
                :getContextMenuItems="getContextMenu"
                :defaultColDef="agGridSetting.defColDef"
                :rowGroupPanelShow="rowGroupPanelShow"
                :suppressDragLeaveHidesColumns="true"
                :suppressMakeColumnVisibleAfterUnGroup=" true"
                :statusBar="statusBar"
                @grid-ready="(params) => onGridReady(params, 'placement-tab-grid')"
                @cellContextMenu="handleRowRightClicked"
              ></ag-grid-vue>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="deleteData"
      @cancel="showDialog=false"
    >
      <template #body> Are you sure to delete this data? </template>
    </c-dialog>
  </div>
</section>
