<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Adjustment Reason"
        type="button"
        class="btn btn-warning mr-1"
        @click="handleToAdjustmentReason"
      >
        <i class="fa fa-cogs mr-1" aria-hidden="true"></i>{{
        $t('buttons.adjustmentReason') }}
      </button>
      <button
        title="Request Adjustment"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.requestAdjustment') }}
      </button>
    </div>

    <!-- insert form -->
    <transition name="fade">
      <c-input-form
        class="px-2"
        ref="inputFormElement"
        v-show="showForm"
        :schema="schema"
        :modeData="modeData"
        :employeeOptions="employeeOptions"
        :adjustmentReasonOptions="adjustmentReasonOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <!-- filter -->
    <search-filter
      :options="searchOptions"
      :searchDefault="searchDefault"
      @search="refreshData"
    >
      <template v-slot="{search, onRefresh}">
        <div class="col-md-6 d-flex mb-md-4">
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="all"
              id="all"
              v-model="search.filter[0]"
              value="0"
              @change="onRefresh"
            />
            <label for="all">{{ $t('commons.filter.checkList.all') }}</label>
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showPending"
              id="showPending"
              v-model="search.filter[0]"
              value="1"
              @change="onRefresh"
            />
            <label for="showPending"
              >{{ $t('commons.filter.checkList.pending') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showApproved"
              id="showApproved"
              v-model="search.filter[0]"
              value="2"
              @change="onRefresh"
            />
            <label for="showApproved"
              >{{ $t('commons.filter.checkList.approved') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showRejected"
              id="showRejected"
              v-model="search.filter[0]"
              value="3"
              @change="onRefresh"
            />
            <label for="showRejected"
              >{{ $t('commons.filter.checkList.rejected') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showCancelled"
              id="showCancelled"
              v-model="search.filter[0]"
              value="4"
              @change="onRefresh"
            />
            <label for="showCancelled"
              >{{ $t('commons.filter.checkList.cancelled') }}</label
            >
          </div>
        </div>
      </template>
    </search-filter>

    <!-- content -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.salaryAdjustment')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body>{{dialogMessage}}</template>
    </c-dialog>
  </div>
</section>
