<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form accordian -->
      <div id="parrentAccordion" class="accordion">
        <!-- employee information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemEmployeeInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#employeeInformation"
              aria-controls="employeeInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.employeeInformation')}}
            </button>
          </h6>
          <div
            id="employeeInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="employeeInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    filter
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="SelectEmployee"
                    labelName="FullName"
                    keyName="employee_id"
                    v-model="form.employee_id"
                    :label="$t('labels.payroll.attendance.selectEmployee')"
                    :columnOptions="columnEmployeeOptions"
                    :options="employeeOptions"
                    @change="onEmployeeChange"
                    :disabled="modeData === $global.modeData.edit"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    name="Position"
                    id="Position"
                    class="row mb-1"
                    type="text"
                    v-model="form.Position"
                    :label="$t('labels.payroll.employee.position')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    name="Department"
                    id="Department"
                    class="row mb-1"
                    type="text"
                    v-model="form.Department"
                    :label="$t('labels.payroll.employee.department')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    name="Placement"
                    id="Placement"
                    class="row mb-1"
                    type="text"
                    v-model="form.Placement"
                    :label="$t('labels.payroll.employee.placement')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- salary adjustment information -->
        <div class="accordion-item">
          <h6
            class="accordion-header"
            id="itemSalaryAdjustmentInformationHeader"
          >
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#salaryAdjustmentInformation"
              aria-controls="salaryAdjustmentInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.salaryAdjustmentInformation')}}
            </button>
          </h6>
          <div
            id="salaryAdjustmentInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="salaryAdjustmentInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    name="AdjustmentReason"
                    labelName="name"
                    keyName="code"
                    v-model="form.adjustment_reason_code"
                    :label="$t('labels.payroll.employee.adjustmentReason')"
                    :options="adjustmentReasonOptions"
                    :disabled="modeData === $global.modeData.edit"
                  >
                  </c-select>
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    required
                    id="effectiveDate"
                    customLabelClass="col-3"
                    :label="$t('labels.payroll.employee.effectiveDate')"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    name="effectiveDate"
                    v-model="form.effective_date"
                    :disabled="modeData === $global.modeData.edit"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    id="remark"
                    class="row mb-1"
                    type="text"
                    name="remark"
                    v-model="form.remark"
                    :label="$t('labels.remark')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- salary details -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemSalaryDetailsHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#salaryDetails"
              aria-controls="salaryDetails"
              aria-expanded="true"
            >
              {{$t('labels.payroll.employee.salaryDetails')}}
            </button>
          </h6>
          <div
            id="salaryDetails"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="salaryDetailsHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-input
                    required
                    formatted
                    showZeroNumber
                    type="number"
                    name="BaseSalary"
                    id="BaseSalary"
                    class="row mb-1"
                    :max="9999999999"
                    :min="0"
                    :label="$t('labels.payroll.employee.baseSalary')"
                    v-model="form.base_salary"
                    @change="onCurrentSalaryChange"
                    :disabled="showNewSalary"
                  />
                </div>
                <div class="col-md-4" v-show="showNewSalary">
                  <c-input
                    required
                    formatted
                    showZeroNumber
                    type="number"
                    name="newSalary"
                    id="newSalary"
                    class="row mb-1"
                    :max="9999999999"
                    :min="0"
                    :label="$t('labels.payroll.employee.newSalary')"
                    v-model="form.new_salary"
                    @change="onNewSalaryChange"
                  />
                </div>
                <div class="col-md-4">
                  <div class="row mb-1">
                    <div class="col-3">
                      <label
                        class="form-label"
                        style="font-size: 13px; font-weight: 700"
                      >
                        {{$t('labels.payroll.employee.difference')}}
                      </label>
                    </div>
                    <div class="col-9">
                      <div class="form-control" readonly>
                        <span
                          :class="{
                          'text-success': isIncreaseDecrease === 'increase',
                          'text-danger': isIncreaseDecrease === 'decrease',
                          'text-muted': isIncreaseDecrease === 'same'
                        }"
                        >
                          {{ salaryDifference >= 0 ? '+' : '' }}{{
                          salaryDifference.toLocaleString('id-ID') }} ({{
                          percentageChange >= 0 ? '+' : '' }}{{
                          percentageChange.toFixed(2) }}%)
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
