<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{$t('title.insertComponent')}}</div>
    <div class="card-body">
      <!-- form -->
      <div class="row mb-3">
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="type"
            labelName="name"
            keyName="code"
            v-model="form.type"
            :label="$t('labels.payroll.payroll.selectType')"
            :options="typeOptions"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            selectType="column"
            name="component"
            labelName="name"
            keyName="code"
            v-model="form.component"
            :label="$t('labels.payroll.payroll.selectComponent')"
            :options="componentOptions"
            :columnOptions="columnOptions"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="number"
            name="amount"
            id="amount"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.amount')"
            v-model="form.amount"
            showZeroNumber
            formatted
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="number"
            name="quantity"
            id="quantity"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.quantity')"
            v-model="form.quantity"
            showZeroNumber
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="unit"
            id="unit"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.unit')"
            v-model="form.unit"
          />
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
