<!-- Content Header (Page header) -->
<section class="content">
  <div
    class="d-flex row bg-secondary text-center vh-100 justify-content-center mb-2"
  >
    <div class="row bg-white h-50 w-100"></div>
    <div class="row bg-gray h-50 w-100"></div>
  </div>
  <div
    class="position-absolute position-absolute top-50 start-50 translate-middle align-self-center no-connectiona-container"
  >
    <span class="text-center text-404">404</span>
    <h2 class="mb-5 text-center text-white">Oops, Page not found</h2>
    <div class="row justify-content-center">
      <button type="button" class="col-md-5 btn btn-primary" @click="dashboard">
        Dashboard
      </button>
    </div>
  </div>
</section>
