<div class="d-flex content h-100 align-center">
  <div class="align-self-center text-center w-100">
    <div class="row justify-content-center">
      <div class="lock text-center"></div>
    </div>
    <div class="align-center text-center">
      <h1>Access to this page is restricted</h1>
      <p>Please check with the site admin if you believe this is a mistake.</p>
      <br />
      <button type="button" class="btn btn-primary" @click="goToDashboard">
        Dashboard
      </button>
    </div>
  </div>
</div>
