<section class="row justify-content-center align-items-center h-100">
  <div class="col-md-9 col-lg-8 col-xl-7">
    <h2>Setup Wizard</h2>
    <div class="card">
      <div class="card-body">
        <form-wizard
          ref="wizardEl"
          stepSize="sm"
          color="#007bff"
          @on-validate="onValidate"
          @on-change="onChange"
          @on-complete="onFinish"
        >
          <tab-content title="Welcome"
            ><h3>Welcome to the Cakrasoft Hotel System Cloud Setup Wizard!</h3>
            <p>
              Thank you for choosing our hotel management system to streamline
              your property's operations. This wizard will guide you through the
              initial setup process to ensure your hotel information is
              accurately configured. Let's get started step-by-step to get your
              hotel up and running smoothly.
            </p>

            <p>
              We're thrilled to be part of your hotel's success. Let's begin the
              setup process and create an exceptional experience for your
              guests! If you have any questions along the way, feel free to
              reach out to our support team for assistance.
            </p>
            <p>
              Let's get started! Click "Next" to proceed to the Property Setup
              section.
            </p>
          </tab-content>
          <tab-content
            :before-change="onNextPropertyInformation"
            title="Property Setup"
          >
            <property-information
              ref="propertyInformationElement"
            ></property-information>
          </tab-content>
          <tab-content
            title="Format & Setting"
            :before-change="onNextFormatSetting"
          >
            <format-and-setting ref="formatSettingElement"></format-and-setting>
          </tab-content>
          <tab-content :before-change="onNextTaxService" title="Tax & Service">
            <tax-and-service
              ref="taxAndServiceElement"
              @change="onChangeTaxAndService"
            ></tax-and-service>
          </tab-content>
          <tab-content
            :before-change="onNextConfiguration"
            title="Configuration"
          >
            <h2>Configuration</h2>
            <p>
              We want to make sure your experience is tailored to your
              preferences. In this step, you have the option to choose how you'd
              like to populate data in your app:
            </p>

            <div class="option">
              <c-radio
                v-model="configOption"
                value="2"
                label="Default:"
              ></c-radio>
              <p class="pl-4">
                Choose this option if you'd like us to provide you with a
                pre-populated dataset to get you started quickly. This can be
                especially helpful if you're exploring the app's features or if
                you want to begin using it immediately without the need to input
                data from scratch. You can always modify and add more data
                later.
              </p>
            </div>
            <div class="option">
              <c-radio
                v-model="configOption"
                value="1"
                label="Manual:"
              ></c-radio>
              <p class="pl-4">
                Select this option if you prefer to manually input your data
                into the app. This gives you full control over the information
                you add and how it's organized. It's a great choice if you have
                specific data that you'd like to enter yourself.
              </p>
            </div>

            <p>
              Please select the option that best suits your needs, and don't
              worry – you can always change this preference later in the app's
              settings. Enjoy using your new web app!
            </p>
          </tab-content>
          <tab-content
            v-if="showConfigWizard"
            :before-change="onNextRoomType"
            title="Room Type"
          >
            <room-type ref="roomTypeEl" @change="onChangeRoomType"></room-type>
          </tab-content>
          <tab-content
            v-if="showConfigWizard"
            :before-change="onNextBedType"
            title="Bed Type"
          >
            <bed-type ref="bedTypeEl" @change="onChangeBedType"></bed-type>
          </tab-content>
          <!-- <tab-content :before-change="onNextRoomView" title="Room View">
            <room-view ref="roomViewEl" @change="onChangeRoomView"></room-view>
          </tab-content> -->
          <tab-content
            v-if="showConfigWizard"
            :before-change="onNextRoom"
            title="Rooms"
          >
            <room
              ref="roomEl"
              :roomViewList="roomViewList"
              @change="onChangeRoom"
            ></room>
          </tab-content>

          <tab-content
            v-if="showConfigWizard"
            :before-change="onNextRoomRate"
            title="Room Rate"
          >
            <room-rate ref="roomRateEl" @change="onChangeRoomRate"></room-rate>
          </tab-content>
          <tab-content title="Finish">
            <h3>Congratulations! You've completed the setup wizard.</h3>
            <p>
              Your web app is now ready to use according to your preferences. By
              choosing your preferred data entry method, you've set the stage
              for a personalized experience.
            </p>
            <p>
              If you selected <b>'Manual'</b>, you can start adding your own
              data and shaping your app to your unique needs. Take your time,
              and remember, you have full control.
            </p>
            <p>
              If you opted for <b>'Default'</b>, you'll find that your app is
              already populated with a sample dataset, so you can dive right in.
              It's a perfect choice if you want to explore the app's
              capabilities immediately.
            </p>
            <p>
              Whichever option you chose, keep in mind that you can always
              adjust your data entry preference in the app's settings later.
              We're here to make your experience as smooth as possible.
            </p>
            <p>
              Click the 'Finish' button below to complete the setup and begin
              your journey with your new web app. We hope you find it useful and
              enjoyable!
            </p>
          </tab-content>
        </form-wizard>
      </div>
    </div>
  </div>
  <c-dialog
    v-if="showConfirm"
    title="Finish Wizard"
    @confirm="onComplete"
    @cancel="showConfirm=false"
    :confirmText="$t('buttons.confirm')"
    :cancelText="$t('buttons.cancel')"
  ></c-dialog>
  <c-dialog
    v-if="showFinish"
    title="Information"
    close
    :isLoading="true"
    @cancel="showConfirm=false"
  >
    <template #body>
      We're setting up your data. Please wait a moment!</template
    >
  </c-dialog>
</section>
