<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form accordian -->
      <div id="parrentAccordion" class="accordion">
        <!-- employee information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemEmployeeInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#employeeInformation"
              aria-controls="employeeInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.employeeInformation')}}
            </button>
          </h6>
          <div
            id="employeeInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="employeeInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="selectEmployee"
                    labelName="name"
                    keyName="code"
                    v-model="form.selectEmployee"
                    :label="$t('labels.payroll.attendance.selectEmployee')"
                    :columnOptions="columnOptions"
                    :options="selectEmployeeOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    type="text"
                    name="department"
                    id="department"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.department')"
                    v-model="form.employee_department"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    id="position"
                    class="row mb-1"
                    type="text"
                    name="position"
                    v-model="form.employee_position"
                    :label="$t('labels.payroll.employee.position')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    id="quotaLeave"
                    class="row mb-1"
                    type="text"
                    name="quotaLeave"
                    v-model="form.total_quota_leave"
                    :label="$t('labels.payroll.attendance.quotaLeave')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    id="remainingLeave"
                    class="row mb-1"
                    type="text"
                    name="remainingLeave"
                    v-model="form.total_remaining_leave"
                    :label="$t('labels.payroll.attendance.remainingLeave')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- leave information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemLeaveInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#leaveInformation"
              aria-controls="leaveInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.leaveInformation')}}
            </button>
          </h6>
          <div
            id="leaveInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="leaveInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    name="leaveType"
                    labelName="name"
                    keyName="code"
                    v-model="form.leave_type"
                    :label="$t('labels.payroll.attendance.leaveType')"
                    :options="leaveTypeOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    id="reason"
                    class="row mb-1"
                    type="text"
                    name="reason"
                    v-model="form.reason"
                    :label="$t('labels.payroll.attendance.reason')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    id="remark"
                    class="row mb-1"
                    type="text"
                    name="remark"
                    v-model="form.remark"
                    :label="$t('labels.remark')"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    required
                    id="startDate"
                    customLabelClass="col-3"
                    :label="$t('labels.payroll.attendance.startDate')"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    name="startDate"
                    v-model="form.start_date"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    required
                    id="endDate"
                    customLabelClass="col-3"
                    :label="$t('labels.payroll.attendance.endDate')"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    name="endDate"
                    v-model="form.end_date"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
