<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <!-- Base Salary -->
      <div v-if="showBaseSalary" class="col-md-12">
        <div class="d-flex justify-content-end mb-1" style="min-height: 16px">
          <font-awesome-icon
            v-show="showBaseSalary"
            :icon="['fas', 'file-invoice-dollar']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Tax Income (PPH 21)"
          />
          <font-awesome-icon
            v-show="showBaseSalary"
            :icon="['fas', 'medkit']"
            class="me-1 text-success"
            data-bs-toggle="tooltip"
            title="Included in BPJS Kesehatan"
          />
          <font-awesome-icon
            v-show="showBaseSalary"
            :icon="['fas', 'hard-hat']"
            class="me-1 text-warning"
            data-bs-toggle="tooltip"
            title="Included in BPJS Ketenagakerjaan"
          />
          <font-awesome-icon
            v-show="showBaseSalary"
            :icon="['fas', 'pizza-slice']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Prorate"
          />
        </div>
        <div class="row mb-1">
          <div class="col-6">
            <c-input
              disabled
              type="number"
              name="BaseSalary"
              id="BaseSalary"
              :max="9999999999"
              :min="0"
              :label="$t('labels.payroll.payroll.baseSalary')"
              v-model="payrollData.basic_salary"
              formatted
              showZeroNumber
            />
          </div>
          <div class="col-2">
            <c-input
              disabled
              type="number"
              name="Qty"
              id="Qty"
              class=""
              :label="$t('labels.payroll.payroll.qty')"
              v-model="qty"
              showZeroNumber
            />
          </div>
          <div class="col-4">
            <c-input
              disabled
              type="number"
              name="BaseSalary"
              id="BaseSalary"
              :max="9999999999"
              :min="0"
              :label="$t('labels.payroll.payroll.totalAmount')"
              v-model="payrollData.basic_salary"
              formatted
              showZeroNumber
            />
          </div>
        </div>
      </div>

      <!-- Component -->
      <div
        v-if="showComponents"
        v-for="component in components"
        :key="component.id"
        class="col-md-12"
      >
        <div class="d-flex justify-content-end mb-1" style="min-height: 16px">
          <font-awesome-icon
            v-show="component.is_taxable"
            :icon="['fas', 'file-invoice-dollar']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Tax Income (PPH 21)"
          />
          <font-awesome-icon
            v-show="component.is_included_in_bpjs_health"
            :icon="['fas', 'medkit']"
            class="me-1 text-success"
            data-bs-toggle="tooltip"
            title="Included in BPJS Kesehatan"
          />
          <font-awesome-icon
            v-show="component.is_included_in_bpjs_employee"
            :icon="['fas', 'hard-hat']"
            class="me-1 text-warning"
            data-bs-toggle="tooltip"
            title="Included in BPJS Ketenagakerjaan"
          />
          <font-awesome-icon
            v-show="component.is_prorated"
            :icon="['fas', 'pizza-slice']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Prorate"
          />
        </div>
        <div class="row mb-1">
          <div class="col-6">
            <c-input
              :disabled="component.is_fixed || !isDraft"
              type="number"
              :name="component.Name"
              :id="component.Name"
              class=""
              :max="9999999999"
              :min="0"
              :label="component.Name"
              v-model="component.amount"
              formatted
              showZeroNumber
              @change="handleComponentAmountChange(component)"
            />
          </div>
          <div class="col-2">
            <c-input
              :disabled="component.is_fixed || !isDraft"
              type="number"
              :name="component.Type"
              :id="component.Type"
              class=""
              :label="$t('labels.payroll.payroll.qty')"
              v-model="component.quantity"
              showZeroNumber
              @change="handleComponentQuantityChange(component)"
            />
          </div>
          <div class="col-4">
            <c-input
              disabled
              type="number"
              :name="component.Name"
              :id="component.Name"
              class=""
              :max="9999999999"
              :min="0"
              :label="$t('labels.payroll.payroll.totalAmount')"
              v-model="component.total_amount"
              formatted
              showZeroNumber
            />
          </div>
        </div>
      </div>

      <!-- Statutory Component -->
      <div
        v-if="showStatutory"
        v-for="component in statutoryData"
        :key="component.id"
        class="col-md-12"
      >
        <div class="d-flex justify-content-end mb-1" style="min-height: 16px">
          <font-awesome-icon
            v-show="component.is_taxable"
            :icon="['fas', 'file-invoice-dollar']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Tax Income (PPH 21)"
          />
          <font-awesome-icon
            v-show="component.is_included_in_bpjs_health"
            :icon="['fas', 'medkit']"
            class="me-1 text-success"
            data-bs-toggle="tooltip"
            title="Included in BPJS Kesehatan"
          />
          <font-awesome-icon
            v-show="component.is_included_in_bpjs_employee"
            :icon="['fas', 'hard-hat']"
            class="me-1 text-warning"
            data-bs-toggle="tooltip"
            title="Included in BPJS Ketenagakerjaan"
          />
          <font-awesome-icon
            v-show="component.is_prorated"
            :icon="['fas', 'pizza-slice']"
            class="me-1 text-info"
            data-bs-toggle="tooltip"
            title="Included in Prorate"
          />
        </div>
        <div class="row mb-1">
          <div class="col-6">
            <c-input
              disabled
              type="number"
              :name="component.StatutoryComponentName"
              :id="component.StatutoryComponentName"
              class=""
              :max="9999999999"
              :min="0"
              :label="component.StatutoryComponentName"
              v-model="component.amount"
              formatted
              showZeroNumber
              @change="onComponentAmountChange(component)"
            />
          </div>
          <div class="col-2">
            <c-input
              disabled
              type="number"
              :name="component.Type"
              :id="component.Type"
              class=""
              :label="$t('labels.payroll.payroll.qty')"
              v-model="component.quantity"
              showZeroNumber
              @change="onComponentQuantityChange(component)"
            />
          </div>
          <div class="col-4">
            <c-input
              disabled
              type="number"
              :name="component.StatutoryComponentName"
              :id="component.StatutoryComponentName"
              class=""
              :max="9999999999"
              :min="0"
              :label="$t('labels.payroll.payroll.totalAmount')"
              v-model="component.amount"
              formatted
              showZeroNumber
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6">
        <strong class="text-muted">{{footertitle}}</strong>
      </div>
      <div class="col-6 d-flex justify-content-end">
        Rp{{formatCurrency(totalAmount)}}
      </div>
    </div>
  </div>
</div>
