<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Export Attendance"
        type="button"
        class="btn btn-warning mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-file-export mr-1" aria-hidden="true"></i>{{
        $t('buttons.export') }}
      </button>
      <button
        title="Import Attendance"
        type="button"
        class="btn btn-secondary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-file-import mr-1" aria-hidden="true"></i>{{
        $t('buttons.import') }}
      </button>
      <button
        title="Insert Attendance"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insert') }}
      </button>
    </div>

    <!-- insert form -->
    <transition>
      <div class="px-2">
        <c-input-form
          ref="inputFormElement"
          v-show="showForm"
          :schema="schema"
          :modeData="modeData"
          @save="handleSave"
          @close="showForm=false"
        />
      </div>
    </transition>

    <!-- filter -->
    <c-search-filter
      date-range
      :options="searchOptions"
      :searchDefault="searchDefault"
      @search="refreshData"
    >
      <template v-slot="{search}">
        <div class="col-md-6 d-flex mb-md-4">
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="all"
              id="all"
              v-model="search.filter[0]"
              value="0"
              @change="onRefresh"
            />
            <label for="all">{{ $t('commons.filter.checkList.all') }}</label>
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showPresent"
              id="showPresent"
              v-model="search.filter[0]"
              value="1"
              @change="onRefresh"
            />
            <label for="showPresent"
              >{{ $t('commons.filter.checkList.showPresent') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showLate"
              id="showLate"
              v-model="search.filter[0]"
              value="2"
              @change="onRefresh"
            />
            <label for="showLate"
              >{{ $t('commons.filter.checkList.showLate') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showAbsent"
              id="showAbsent"
              v-model="search.filter[0]"
              value="3"
              @change="onRefresh"
            />
            <label for="showAbsent"
              >{{ $t('commons.filter.checkList.showAbsent') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showLeave"
              id="showLeave"
              v-model="search.filter[0]"
              value="4"
              @change="onRefresh"
            />
            <label for="showLeave"
              >{{ $t('commons.filter.checkList.showLeave') }}</label
            >
          </div>
        </div>
      </template>
    </c-search-filter>

    <!-- summary -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.summary')}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="info-box bg-success">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.present')}}</span
                >
                <span class="info-box-number">18</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-warning">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.late')}}</span
                >
                <span class="info-box-number">0</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-danger">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.absent')}}</span
                >
                <span class="info-box-number">0</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-info">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.leave')}}</span
                >
                <span class="info-box-number">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.attendance')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="deleteData"
      @cancel="showDialog=false"
    >
      <template #body> Are you sure to delete this data? </template>
    </c-dialog>

    <!-- modal -->
  </div>
</section>
