<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Device Settings"
        type="button"
        class="btn btn-warning mr-1"
        @click="showDeviceSettings"
      >
        <i class="fa fa-cog mr-1" aria-hidden="true"></i>{{
        $t('buttons.deviceSettings') }}
      </button>
      <button
        title="Export Data"
        type="button"
        class="btn btn-warning mr-1"
        @click="handleExport"
      >
        <i class="fa fa-file-export mr-1" aria-hidden="true"></i>{{
        $t('buttons.export') }}
      </button>
      <button
        title="Sync Device"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleSync"
      >
        <i class="fa fa-sync mr-1" aria-hidden="true"></i>{{
        $t('buttons.syncDevice') }}
      </button>
      <button
        title="Enroll Employee"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.enrollEmployee') }}
      </button>
    </div>

    <!-- insert form -->
    <transition>
      <c-input-form
        class="px-2"
        ref="inputFormElement"
        v-show="showForm"
        :employeeOptions="employeeOptions"
        :deviceConnected="deviceConnected"
        :devices="devices"
        :schema="schema"
        :modeData="modeData"
        @save="handleSave"
        @close="showForm=false"
        @enrollmentProgress="handleEnrollmentProgress"
      />
    </transition>

    <!-- filter -->
    <c-search-filter
      :options="searchOptions"
      :searchDefault="searchDefault"
      @search="refreshData"
    >
      <template v-slot="{search}">
        <div class="col-md-6 d-flex mb-md-4">
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="all"
              id="all"
              v-model="search.filter[0]"
              value="0"
              @change="onRefresh"
            />
            <label for="all">{{ $t('commons.filter.checkList.all') }}</label>
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showEnrolled"
              id="showEnrolled"
              v-model="search.filter[0]"
              value="1"
              @change="onRefresh"
            />
            <label for="showEnrolled"
              >{{ $t('commons.filter.checkList.enrolled') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showNotEnrolled"
              id="showNotEnrolled"
              v-model="search.filter[0]"
              value="2"
              @change="onRefresh"
            />
            <label for="showNotEnrolled"
              >{{ $t('commons.filter.checkList.notEnrolled') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showPending"
              id="showPending"
              v-model="search.filter[0]"
              value="3"
              @change="onRefresh"
            />
            <label for="showAbsent"
              >{{ $t('commons.filter.checkList.pending') }}</label
            >
          </div>
        </div>
      </template>
    </c-search-filter>

    <!-- summary -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.summary')}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="info-box bg-success">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.totalEmployees')}}</span
                >
                <span class="info-box-number"
                  >{{summaryData.total_employees}}</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-warning">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.enrolled')}}</span
                >
                <span class="info-box-number">{{summaryData.enrolled}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-danger">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.notEnrolled')}}</span
                >
                <span class="info-box-number"
                  >{{summaryData.not_enrolled}}</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-box bg-info">
              <div class="info-box-content">
                <span class="info-box-text"
                  >{{$t('labels.payroll.attendance.pending')}}</span
                >
                <span class="info-box-number">{{summaryData.pending}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.fingerprintEnrollment')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- progress modal -->
    <c-modal
      v-show="showEnrollmentProgress"
      :title="$t('title.enrollmentProgress')"
      size="md"
    >
      <div class="text-center">
        <div class="mb-3">
          <i
            class="fa fa-fingerprint"
            style="font-size: 64px; color: #007bff"
          ></i>
        </div>
        <h5>{{enrollmentProgress.message}}</h5>
        <div class="progress mb-3">
          <div
            class="progress-bar"
            :style="{width: enrollmentProgress.percentage + '%'}"
            :class="enrollmentProgress.success ? 'bg-success' : 'bg-primary'"
          >
            {{enrollmentProgress.percentage}}%
          </div>
        </div>

        <p class="text-muted">{{enrollmentProgress.step}}</p>
        <button
          v-if="enrollmentProgress.success"
          class="btn btn-success"
          @click="showEnrollmentProgress = false"
        >
          <i class="fa fa-check mr-1"></i>{{$t('buttons.close')}}
        </button>
      </div>
    </c-modal>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body>{{dialogMessage}}</template>
    </c-dialog>
  </div>
</section>
