<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form accordian -->
      <div id="parrentAccordion" class="accordion">
        <!-- employee information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemEmployeeInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#employeeInformation"
              aria-controls="employeeInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.employeeInformation')}}
            </button>
          </h6>
          <div
            id="employeeInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="employeeInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="SelectEmployee"
                    labelName="name"
                    keyName="employee_id"
                    v-model="form.employee_id"
                    :label="$t('labels.payroll.attendance.selectEmployee')"
                    :columnOptions="columnEmployeeOptions"
                    :options="employeeOptions"
                    @change="onEmployeeChange"
                    :disabled="modeData === $global.modeData.edit"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    type="text"
                    name="Department"
                    id="Department"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.department')"
                    v-model="form.department_name"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    name="Position"
                    id="Position"
                    class="row mb-1"
                    type="text"
                    v-model="form.position_name"
                    :label="$t('labels.payroll.employee.position')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- attendance information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemAttendanceInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#attendanceInformation"
              aria-controls="attendanceInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.attendance.attendanceInformation')}}
            </button>
          </h6>
          <div
            id="attendanceInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="attendanceInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-datepicker
                    required
                    name="Date"
                    id="Date"
                    customLabelClass="col-3 mb-1"
                    :label="$t('labels.date')"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="form.date"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    id="CheckIn"
                    name="CheckIn"
                    class="row mb-1"
                    type="time"
                    v-model="form.check_in"
                    :label="$t('labels.payroll.attendance.checkIn')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    name="CheckOut"
                    id="CheckOut"
                    class="row mb-1"
                    type="time"
                    v-model="form.check_out"
                    :label="$t('labels.payroll.attendance.checkOut')"
                  />
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    name="Status"
                    labelName="name"
                    keyName="code"
                    v-model="form.status"
                    :label="$t('labels.payroll.attendance.status')"
                    :options="statusOptions"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-input
                    name="Remark"
                    id="Remark"
                    class="row mb-1"
                    type="text"
                    v-model="form.remark"
                    :label="$t('labels.remark')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3"></div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
