<c-form
  ref="inputFormValidation"
  :validation-schema="schema"
  class="input-form row"
  v-slot="{resetForm}"
  @invalid-submit="onInvalidSubmit"
  @submit="onSave"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="PositionCode"
            id="PositionCode"
            class="row mb-1"
            :label="$t('labels.payroll.employee.code')"
            v-model="form.positionCode"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="PositionName"
            id="PositionName"
            class="row mb-1"
            :label="$t('labels.payroll.employee.positionName')"
            v-model="form.positionName"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="textarea"
            name="PositionDescription"
            id="PositionDescription"
            class="row mb-1"
            :label="$t('labels.payroll.employee.description')"
            v-model="form.positionDescription"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="positionLevel"
            labelName="name"
            keyName="code"
            v-model="form.positionLevel"
            :label="$t('labels.payroll.employee.level')"
            :options="positionLevelOptions"
            :columnOptions="columnOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            offset="right"
            class="row mb-1"
            selectType="column"
            name="positionDepartment"
            labelName="name"
            keyName="code"
            v-model="form.positionDepartment"
            :label="$t('labels.payroll.employee.department')"
            :options="departmentOptions"
            :columnOptions="columnOptions"
            multiple
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            offset="right"
            class="row mb-1"
            selectType="column"
            name="positionPlacement"
            labelName="name"
            keyName="code"
            v-model="form.positionPlacement"
            :label="$t('labels.payroll.employee.placement')"
            :options="placementOptions"
            :columnOptions="columnOptions"
            multiple
          >
          </c-select>
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.positionStatus"
                value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.positionStatus"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
