<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form accordian -->
      <div id="parrentAccordion" class="accordion">
        <!-- personal information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemPersonalInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#personalInformation"
              aria-controls="personalInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.personalInformation')}}
            </button>
          </h6>
          <div
            id="personalInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="personalInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-input
                    required
                    name="EmployeeId"
                    id="EmployeeId"
                    type="text"
                    class="row mb-1"
                    v-model="form.employee_id"
                    :label="$t('labels.payroll.employee.employeeId')"
                    :disabled="modeData === $global.modeData.edit"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    name="Firstname"
                    id="Firstname"
                    type="text"
                    class="row mb-1"
                    v-model="form.first_name"
                    :label="$t('labels.payroll.employee.firstname')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    name="Lastname"
                    id="Lastname"
                    type="text"
                    class="row mb-1"
                    v-model="form.last_name"
                    :label="$t('labels.payroll.employee.lastname')"
                  />
                </div>
                <div class="col-md-4 mb-sm-1">
                  <div class="row">
                    <div class="col-sm-3 col-md-3">
                      <label
                        class="form-label"
                        style="font-size: 13px; font-weight: 700; color: red"
                        >{{$t('labels.gender')}}</label
                      >
                    </div>
                    <div
                      class="col-sm-9 col-md-9 d-flex align-items-center p-0"
                    >
                      <c-radio
                        class="me-3"
                        :label="$t('labels.male')"
                        v-model="form.gender"
                        value="M"
                      ></c-radio>
                      <c-radio
                        class="me-3"
                        :label="$t('labels.female')"
                        v-model="form.gender"
                        value="F"
                      ></c-radio>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    name="Birthdate"
                    id="Birthdate"
                    customLabelClass="col-3"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="form.birth_date"
                    :label="$t('labels.payroll.employee.birthdate')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    name="Email"
                    id="Email"
                    type="email"
                    class="row mb-1"
                    v-model="form.email"
                    :label="$t('labels.email')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    name="Phone"
                    id="Phone"
                    type="text"
                    class="row mb-1"
                    v-model="form.phone"
                    :label="$t('labels.payroll.employee.phoneNumber')"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    name="Address"
                    id="Address"
                    type="text"
                    class="row mb-1"
                    v-model="form.address"
                    :label="$t('labels.address')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- employment information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemEmploymentInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#employmentInformation"
              aria-controls="employmentInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.employmentInformation')}}
            </button>
          </h6>
          <div
            id="employmentInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="employmentInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    name="HireDate"
                    id="HireDate"
                    customLabelClass="col-3"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="form.hire_date"
                    :label="$t('labels.payroll.employee.hireDate')"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <c-datepicker
                    name="EndDate"
                    id="EndDate"
                    customLabelClass="col-3"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    v-model="form.end_date"
                    :label="$t('labels.payroll.employee.endDate')"
                    :disabled="isEndDateDisabled"
                    :value="defaultEndDate"
                  />
                </div>
                <div class="col-md-4 mb-sm-1">
                  <div class="row">
                    <div class="col-sm-3 col-md-3">
                      <label
                        class="form-label"
                        style="font-size: 12px; font-weight: 700; color: red"
                        >{{$t('labels.payroll.employee.status')}}</label
                      >
                    </div>
                    <div
                      class="col-sm-9 col-md-9 d-flex align-items-center p-0"
                    >
                      <c-radio
                        class="me-3"
                        :label="$t('labels.active')"
                        v-model="form.status"
                        value="A"
                      ></c-radio>
                      <c-radio
                        class="me-3"
                        :label="$t('labels.inactive')"
                        v-model="form.status"
                        value="I"
                      ></c-radio>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    name="EmployeeType"
                    labelName="name"
                    keyName="code"
                    v-model="form.employee_type"
                    :label="$t('labels.payroll.employee.employeeType')"
                    :columnOptions="columnOptions"
                    :options="employeeTypeOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="Placement"
                    labelName="name"
                    keyName="code"
                    v-model="form.placement"
                    :label="$t('labels.payroll.employee.placement')"
                    :columnOptions="columnOptions"
                    :options="placementOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="Department"
                    labelName="name"
                    keyName="code"
                    v-model="form.department"
                    :label="$t('labels.payroll.employee.department')"
                    :columnOptions="columnOptions"
                    :options="departmentOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="Position"
                    labelName="name"
                    keyName="code"
                    v-model="form.position"
                    :label="$t('labels.payroll.employee.position')"
                    :columnOptions="columnOptions"
                    :options="filteredPositionOptions"
                  >
                  </c-select>
                </div>

                <div class="col-md-4">
                  <c-select
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="supervisor"
                    labelName="name"
                    keyName="code"
                    v-model="form.supervisor"
                    :label="$t('labels.payroll.employee.supervisor')"
                    :columnOptions="columnOptions"
                    :options="filteredSupervisorOptions"
                  >
                  </c-select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- salary & payment information -->
        <div class="accordion-item">
          <h6
            class="accordion-header"
            id="itemSalaryAndPaymentInformationHeader"
          >
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#salaryAndPaymentInformation"
              aria-controls="salaryAndPaymentInformation"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.salaryAndPaymentInformation')}}
            </button>
          </h6>
          <div
            id="salaryAndPaymentInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="salaryAndPaymentInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    name="PaymentFrequency"
                    labelName="name"
                    keyName="code"
                    v-model="form.payment_frequency"
                    :label="$t('labels.payroll.employee.paymentFrequency')"
                    :columnOptions="columnOptions"
                    :options="paymentFrequencyOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    formatted
                    showZeroNumber
                    type="number"
                    name="BaseSalary"
                    id="BaseSalary"
                    class="row mb-1"
                    :max="9999999999"
                    :min="0"
                    :label="$t('labels.payroll.employee.baseSalary')"
                    v-model="form.base_salary"
                  />
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="PaymentMethod"
                    labelName="name"
                    keyName="code"
                    v-model="form.payment_method"
                    :label="$t('labels.payroll.employee.paymentMethod')"
                    :columnOptions="columnOptions"
                    :options="paymentMethodOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="BankName"
                    labelName="name"
                    keyName="code"
                    v-model="form.bank_name"
                    :label="$t('labels.payroll.employee.bankName')"
                    :columnOptions="columnOptions"
                    :options="bankOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    type="text"
                    name="BankAccountNumber"
                    id="BankAccountNumber"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.accountNumber')"
                    v-model="form.bank_account_number"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    type="text"
                    name="BankAccountName"
                    id="BankAccountName"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.accountHolder')"
                    v-model="form.bank_account_name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- tax and identification information -->
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemTaxAndIdentificationDataHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#taxAndIdentificationData"
              aria-controls="taxAndIdentificationData"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.taxAndIdentificationData')}}
            </button>
          </h6>
          <div
            id="taxAndIdentificationData"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="taxAndIdentificationDataHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-input
                    name="TaxNumber"
                    id="TaxNumber"
                    type="text"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.taxNumber')"
                    v-model="form.tax_number"
                  />
                </div>
                <div class="col-md-4">
                  <c-select
                    required
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="MaritalStatus"
                    labelName="name"
                    keyName="code"
                    v-model="form.marital_status"
                    :label="$t('labels.payroll.employee.maritalStatus')"
                    :columnOptions="columnOptions"
                    :options="maritalStatusOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    name="IdentifyNumber"
                    id="IdentifyNumber"
                    type="text"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.identityNumber')"
                    v-model="form.identity_number"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="HealthInsuranceNumber"
                    id="HealthInsuranceNumber"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.healthInsuranceNumber')"
                    v-model="form.health_insurance_number"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="SocialSecurityNumber"
                    id="SocialSecurityNumber"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.socialInsuranceNumber')"
                    v-model="form.social_security_number"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- supporting documents -->
        <!-- <div class="accordion-item">
          <h6 class="accordion-header" id="itemSupportingDocumentHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#supportingDocument"
              aria-controls="supportingDocument"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.supportingDocument')}}
            </button>
          </h6>
          <div
            id="supportingDocument"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="supportingDocumentHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="IdentityCardFile"
                    id="IdentityCardFile"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.identityCardFile')"
                    v-model="form.identity_card_file"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="TaxCardFile"
                    id="TaxCardFile"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.taxCardFile')"
                    v-model="form.tax_card_file"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="CvFile"
                    id="CvFile"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.cvFile')"
                    v-model="form.cv_file"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="EmployeeContractFile"
                    id="EmployeeContractFile"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.employeeContractFile')"
                    v-model="form.employee_contract_file"
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    type="text"
                    name="OtherDocuments"
                    id="OtherDocuments"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.otherDocuments')"
                    v-model="form.other_documents"
                  />
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Attendance and Leave Data -->
        <!-- <div class="accordion-item">
          <h6 class="accordion-header" id="itemAttendanceAndLeaveDataHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#attendanceAndLeaveData"
              aria-controls="attendanceAndLeaveData"
              aria-expanded="false"
            >
              {{$t('labels.payroll.employee.attendanceAndLeaveData')}}
            </button>
          </h6>
          <div
            id="attendanceAndLeaveData"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="attendanceAndLeaveDataHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <c-select
                    offset="right"
                    class="row mb-1"
                    selectType="column"
                    name="WorkSchedule"
                    labelName="name"
                    keyName="code"
                    v-model="form.work_schedule"
                    :label="$t('labels.payroll.employee.workSchedule')"
                    :columnOptions="columnOptions"
                    :options="workScheduleOptions"
                  >
                  </c-select>
                </div>
                <div class="col-md-4">
                  <c-input
                    required
                    type="number"
                    name="AnnualLeaveQuota"
                    id="AnnualLeaveQuota"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.annualLeaveQuota')"
                    v-model="form.annual_leave_quota"
                    showZeroNumber
                  />
                </div>
                <div class="col-md-4">
                  <c-input
                    disabled
                    type="number"
                    name="RemainingLeave"
                    id="RemainingLeave"
                    class="row mb-1"
                    :label="$t('labels.payroll.employee.remainingLeave')"
                    v-model="form.remaining_leave"
                    showZeroNumber
                  />
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
