<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form -->
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            id="Cod"
            name="Code"
            class="row mb-1"
            type="text"
            v-model="form.code"
            :label="$t('labels.payroll.attendance.code')"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            id="Name"
            name="Name"
            class="row mb-1"
            type="text"
            v-model="form.name"
            :label="$t('labels.payroll.attendance.name')"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="Type"
            labelName="name"
            keyName="code"
            v-model="form.type_code"
            :label="$t('labels.payroll.attendance.type')"
            :options="holidayTypeOptions"
            @change="onHolidayTypeChange"
          />
        </div>
        <div class="col-md-4 mb-1">
          <c-datepicker
            required
            id="Date"
            name="Date"
            customLabelClass="col-3"
            :label="$t('labels.date')"
            type="date"
            valueType="YYYY-MM-DD"
            format="DD/MM/YYYY"
            v-model="form.date"
          />
        </div>
        <div class="col-md-4">
          <c-input
            id="Remark"
            name="Remark"
            class="row mb-1"
            type="text"
            v-model="form.remark"
            :label="$t('labels.remark')"
          />
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.status"
                value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.status"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
