<section>
  <div class="accordion" id="accordionAccessGeneral">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAccessGeneral1">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAccessGeneral1"
          aria-expanded="true"
          aria-controls="collapseAccessGeneral1"
        >
          Module Access
        </button>
      </h2>
      <div
        id="collapseAccessGeneral1"
        class="accordion-collapse collapse show"
        aria-labelledby="headingAccessGeneral1"
        data-bs-parent="#accordionAccessGeneral"
      >
        <div
          class="accordion-body row"
          @contextmenu="onContextMenu($event,access.access_module,accessList.access_module)"
        >
          <div
            v-if="access"
            class="col"
            v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_module)"
          >
            <div v-for="(item,i) in column">
              <c-checkbox
                v-if="!item.hidden"
                :label="item.name"
                v-model="access.access_module[getModelIndex(accessList.access_module,columnIndex,i )]"
              ></c-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="headingAccessGeneral2">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAccessGeneral2"
          aria-expanded="true"
          aria-controls="collapseAccessGeneral2"
        >
          Form Access
        </button>
      </h2>
      <div
        id="collapseAccessGeneral2"
        class="accordion-collapse collapse"
        aria-labelledby="headingAccessGeneral2"
        data-bs-parent="#accordionAccessGeneral"
      >
        <div
          class="accordion-body row"
          @contextmenu="onContextMenu($event,access.access_form,accessList.access_form)"
        >
          <div
            v-if="access"
            class="col"
            v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_form)"
          >
            <div v-for="(item,i) in column">
              <c-checkbox
                v-if="!item.hidden"
                :label="item.name"
                v-model="access.access_form[getModelIndex(accessList.access_form,columnIndex,i )]"
              ></c-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="headingAccessGeneral3">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAccessGeneral3"
          aria-expanded="true"
          aria-controls="collapseAccessGeneral3"
        >
          Report Access
        </button>
      </h2>
      <div
        id="collapseAccessGeneral3"
        class="accordion-collapse collapse"
        aria-labelledby="headingAccessGeneral3"
        data-bs-parent="#accordionAccessGeneral"
      >
        <div
          class="accordion-body row"
          @contextmenu="onContextMenu($event,access.access_report,accessList.access_report)"
        >
          <div class="accordion" id="accordionAccessReport">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingAccessReport1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAccessReport1"
                  aria-expanded="true"
                  aria-controls="collapseAccessReport1"
                >
                  Hotel Report Access
                </button>
              </h2>
              <div
                id="collapseAccessReport1"
                class="accordion-collapse collapse"
                aria-labelledby="headingAccessReport1"
                data-bs-parent="#accordionAccessReport"
              >
                <div
                  class="accordion-body row"
                  @contextmenu="onContextMenu($event,access.access_report,accessList.access_report)"
                >
                  <div
                    v-if="access"
                    class="col"
                    v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_report)"
                  >
                    <div v-for="(item,i) in column">
                      <c-checkbox
                        v-if="!item.hidden"
                        :label="`${item.parent} - ${item.report}`"
                        v-model="access.access_report[getModelIndex(accessList.access_report,columnIndex,i )]"
                      ></c-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingAccessReport2">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAccessReport2"
                  aria-expanded="true"
                  aria-controls="collapseAccessReport2"
                >
                  Point of Sales Report Access
                </button>
              </h2>
              <div
                id="collapseAccessReport2"
                class="accordion-collapse collapse"
                aria-labelledby="headingAccessReport2"
                data-bs-parent="#accordionAccessReport"
              >
                <div
                  class="accordion-body row"
                  @contextmenu="onContextMenu($event,access.access_pos_report,accessList.access_pos_report)"
                >
                  <div
                    v-if="access"
                    class="col"
                    v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_pos_report)"
                  >
                    <div v-for="(item,i) in column">
                      <c-checkbox
                        v-if="!item.hidden"
                        :label="`${item.parent} - ${item.report}`"
                        v-model="access.access_pos_report[getModelIndex(accessList.access_pos_report,columnIndex,i )]"
                      ></c-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingAccessReport3">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAccessReport3"
                  aria-expanded="true"
                  aria-controls="collapseAccessReport3"
                >
                  Banquet Report Access
                </button>
              </h2>
              <div
                id="collapseAccessReport3"
                class="accordion-collapse collapse"
                aria-labelledby="headingAccessReport3"
                data-bs-parent="#accordionAccessReport"
              >
                <div
                  class="accordion-body row"
                  @contextmenu="onContextMenu($event,access.access_ban_report,accessList.access_ban_report)"
                >
                  <div
                    v-if="access"
                    class="col"
                    v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_ban_report)"
                  >
                    <div v-for="(item,i) in column">
                      <c-checkbox
                        v-if="!item.hidden"
                        :label="`${item.parent} - ${item.report}`"
                        v-model="access.access_ban_report[getModelIndex(accessList.access_ban_report,columnIndex,i )]"
                      ></c-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingAccessReport4">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAccessReport4"
                  aria-expanded="true"
                  aria-controls="collapseAccessReport4"
                >
                  Accounting Report Access
                </button>
              </h2>
              <div
                id="collapseAccessReport4"
                class="accordion-collapse collapse"
                aria-labelledby="headingAccessReport4"
                data-bs-parent="#accordionAccessReport"
              >
                <div
                  class="accordion-body row"
                  @contextmenu="onContextMenu($event,access.access_acc_report,accessList.access_acc_report)"
                >
                  <div
                    v-if="access"
                    class="col"
                    v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_acc_report)"
                  >
                    <div v-for="(item,i) in column">
                      <c-checkbox
                        v-if="!item.hidden"
                        :label="`${item.parent} - ${item.report}`"
                        v-model="access.access_acc_report[getModelIndex(accessList.access_acc_report,columnIndex,i )]"
                      ></c-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingAccessReport5">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseAccessReport5"
                  aria-expanded="true"
                  aria-controls="collapseAccessReport5"
                >
                  Assets Report Access
                </button>
              </h2>
              <div
                id="collapseAccessReport5"
                class="accordion-collapse collapse"
                aria-labelledby="headingAccessReport5"
                data-bs-parent="#accordionAccessReport"
              >
                <div
                  class="accordion-body row"
                  @contextmenu="onContextMenu($event,access.access_ast_report,accessList.access_ast_report)"
                >
                  <div
                    v-if="access"
                    class="col"
                    v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_ast_report)"
                  >
                    <div v-for="(item,i) in column">
                      <c-checkbox
                        v-if="!item.hidden"
                        :label="`${item.parent} - ${item.report}`"
                        v-model="access.access_ast_report[getModelIndex(accessList.access_ast_report,columnIndex,i )]"
                      ></c-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAccessGenera4">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAccessGeneral4"
          aria-expanded="true"
          aria-controls="collapseAccessGeneral4"
        >
          Preview Report Access
        </button>
      </h2>
      <div
        id="collapseAccessGeneral4"
        class="accordion-collapse collapse"
        aria-labelledby="headingAccessGeneral4"
        data-bs-parent="#accordionAccessGeneral"
      >
        <div
          class="accordion-body row"
          @contextmenu="onContextMenu($event,access.access_preview_report,accessList.access_preview_report)"
        >
          <div
            v-if="access"
            class="col"
            v-for="(column,columnIndex) in calculateDataForDisplay(accessList.access_preview_report)"
          >
            <div v-for="(item,i) in column">
              <c-checkbox
                v-if="!item.hidden"
                :label="item.name"
                v-model="access.access_preview_report[getModelIndex(accessList.access_preview_report,columnIndex,i )]"
              ></c-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
