<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-end mb-2">
      <button
        title="Document Type"
        type="button"
        class="btn btn-warning mr-1"
        @click="handleToDocumentType"
      >
        <i class="fa fa-cogs mr-1" aria-hidden="true"></i>{{
        $t('buttons.documentType') }}
      </button>
      <button
        title="Insert Document"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleShowForm('', $global.modeData.insert)"
      >
        <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{
        $t('buttons.insert') }}
      </button>
    </div>

    <!-- insert form -->
    <transition>
      <c-input-form
        class="px-2"
        ref="inputFormElement"
        v-show="showForm"
        :schema="schema"
        :modeData="modeData"
        :employeeOptions="employeeOptions"
        :documentTypeOptions="documentTypeOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <!-- filter -->
    <c-search-filter
      :options="searchOptions"
      :searchDefault="searchDefault"
      @search="refreshData"
    >
      <template v-slot="{search}">
        <div class="col-md-6 d-flex mb-md-4">
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="all"
              id="all"
              v-model="search.filter[0]"
              value="0"
              @change="refreshData(search)"
            />
            <label for="all"
              >{{ $t('commons.filter.checkList.showAll') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showValid"
              id="showValid"
              v-model="search.filter[0]"
              value="1"
              @change="refreshData(search)"
            />
            <label for="showValid"
              >{{ $t('commons.filter.checkList.valid') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showExpiringSoon"
              id="showExpiringSoon"
              v-model="search.filter[0]"
              value="2"
              @change="refreshData(search)"
            />
            <label for="showExpiringSoon"
              >{{ $t('commons.filter.checkList.expiringSoon') }}</label
            >
          </div>
          <div class="checklist">
            <input
              class="mr-1"
              type="radio"
              name="showExpired"
              id="showExpired"
              v-model="search.filter[0]"
              value="3"
              @change="refreshData(search)"
            />
            <label for="showExpired"
              >{{ $t('commons.filter.checkList.expired') }}</label
            >
          </div>
        </div>
      </template>
    </c-search-filter>

    <!-- table -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.legalDocument')}}</h3>
      </div>
      <div class="card-body">
        <ag-grid-vue
          :style="agGridSetting.styleAgGridFrame"
          :class="agGridSetting.themeAgGrid"
          :columnDefs="columnDefs"
          :rowData="rowData"
          :paginationPageSize="paginationPageSize"
          :gridOptions="gridOptions"
          :context="context"
          :frameworkComponents="frameworkComponents"
          :enableCellChangeFlash="true"
          :rowSelection="rowSelection"
          :getContextMenuItems="getContextMenu"
          :defaultColDef="agGridSetting.defColDef"
          :rowGroupPanelShow="rowGroupPanelShow"
          :suppressDragLeaveHidesColumns="true"
          :suppressMakeColumnVisibleAfterUnGroup=" true"
          :statusBar="statusBar"
          @grid-ready="onGridReady"
          @cellContextMenu="handleRowRightClicked"
        ></ag-grid-vue>
      </div>
    </div>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body>{{dialogMessage}}</template>
    </c-dialog>
  </div>
</section>
