<!-- <Form @submit="onSave" ref="inputFormElement" :validation-schema="schema" @invalid-submit="onInvalidSubmit" -->

<div class="card">
  <div class="card-header">
    {{ title }}
    <button
      type="button"
      class="close-button btn"
      style="float: right"
      @click="onClose"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <!-- <button @click="showForm">Check</button> -->
  <div class="card-body">
    <div id="parrentAccordion" class="accordion">
      <v-form
        @submit="onSave"
        ref="inputFormElement"
        :validation-schema="schema"
        @invalid-submit="onInvalidSubmit"
        class="input-form"
        v-slot="{resetForm}"
      >
        <div class="accordion-item mb-2">
          <h6 class="accordion-header" id="itemInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#itemInformation"
              aria-controls="itemInformation"
              aria-expanded="false"
            >
              {{ $route.meta.isPayment ? $t('title.payment') :
              $t('title.receive')}} - Debit
            </button>
          </h6>
          <div
            id="itemInformation"
            class="accordion-collapse collapse show p-3"
            aria-labelledby="itemInformationHeader"
          >
            <div class="accordion-body">
              <div class="row mb-3">
                <!-- input code -->
                <div class="col-md-6 mb-1">
                  <c-datepicker
                    v-model="form.date"
                    id="Date"
                    :label="$t('labels.date')"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="mb-1"
                    type="date"
                    valueType="YYYY-MM-DD"
                    format="DD/MM/YYYY"
                    name="Date"
                  ></c-datepicker>
                  <c-select
                    required
                    id="sub_department_code"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="mb-1"
                    :options="listDropdown.SubDepartment"
                    keyName="code"
                    labelName="name"
                    v-model="form.sub_department_code"
                    :label="$t('labels.subDepartment')"
                    name="sub_department_code"
                    ><template #append-end>
                      <span class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </template>
                  </c-select>
                  <c-select
                    required
                    id="bank_account"
                    customLabelClass="col-3"
                    customClass="col-9"
                    :options="listDropdown.BankAccount"
                    keyName="journal_account_code"
                    labelName="name"
                    v-model="form.journal_account_code"
                    :label="$t('labels.bankAccount')"
                    name="bank_account"
                    ><template #append-end>
                      <span class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </template>
                  </c-select>
                </div>
                <div class="col-md-6 mb-1">
                  <c-select
                    required
                    id="company"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="mb-1"
                    :options="listDropdown.Company"
                    keyName="code"
                    labelName="name"
                    v-model="form.company_code"
                    :label="$t('labels.company')"
                    name="company"
                    ><template #append-end>
                      <span class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </template>
                  </c-select>
                  <c-input
                    v-model="form.remark"
                    :label="$t('labels.remark')"
                    customLabelClass="col-3"
                    customClass="col-9"
                    id="remark"
                    type="text"
                    name="remark"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-form>

      <v-form
        @submit="onSaveGrid()"
        ref="creditFormElement"
        @invalid-submit="onInvalidSubmit"
        :validation-schema="schemaCredit"
        class="input-form"
        v-slot="{resetForm}"
      >
        <div class="accordion-item">
          <h6 class="accordion-header" id="itemInformationHeader">
            <button
              type="button"
              class="accordion-button"
              data-bs-toggle="collapse"
              data-bs-target="#itemInformation"
              aria-controls="itemInformation"
              aria-expanded="false"
            >
              Detail Information - Credit
            </button>
          </h6>
          <div
            id="itemInformation1"
            class="accordion-collapse p-3"
            aria-labelledby="itemInformationHeader1"
          >
            <div class="accordion-body card-block">
              <div class="row mb-3">
                <div class="col-md-6 mb-1">
                  <c-select
                    required
                    id="sub_department"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="mb-1"
                    :options="listDropdown.SubDepartment"
                    labelName="name"
                    v-model="formDetail.sub_department"
                    :label="$t('labels.subDepartment')"
                    @change="onChangeSubDepartment"
                    name="sub_department"
                    ><template #append-end>
                      <span class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </template>
                  </c-select>
                  <c-select
                    required
                    id="gl_account"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="row mb-1"
                    :options="listDropdownGL"
                    labelName="name"
                    v-model="formDetail.gl_account"
                    :label="$t('labels.glAccount')"
                    name="gl_account"
                    ><template #append-end>
                      <span class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </template>
                  </c-select>
                </div>

                <div class="col-md-6 mb-1">
                  <c-input
                    required
                    id="amount"
                    customLabelClass="col-3"
                    customClass="col-9"
                    class="mb-1"
                    :label="$t('labels.amount')"
                    type="number"
                    formatted
                    showZeroNumber
                    name="amount"
                    v-model="formDetail.amount"
                  />
                  <c-input
                    v-model="formDetail.remarkCredit"
                    id="remarkCredit"
                    :label="$t('labels.remark')"
                    customLabelClass="col-3"
                    customClass="col-9"
                    type="text"
                    name="remarkCredit"
                  />
                </div>

                <div class="d-flex justify-content-end mb-2 mt-3">
                  <div>
                    <button
                      type="button"
                      class="btn btn-primary mr-1"
                      @click="handleSaveGrid"
                    >
                      <i class="fa fa-plus mr-1" aria-hidden="true"></i>{{isSave
                      ? $t('buttons.save') : $t('buttons.insert') }}
                    </button>
                    <button
                      v-if="isSave"
                      type="button"
                      class="btn btn-danger mr-1"
                      @click="gridFormCancel"
                    >
                      <i class="fa fa-times" aria-hidden="true"></i>
                      {{$t('buttons.cancel')}}
                    </button>
                  </div>
                </div>
                <div class="col-md-12">
                  <div v-show="isSave" class="disabled-grid"></div>
                  <ag-grid-vue
                    disabled
                    :style="agGridSetting.styleAgGridFrame1"
                    :class="agGridSetting.themeAgGrid"
                    :columnDefs="columnDefs"
                    :rowData="rowData"
                    :paginationPageSize="paginationPageSize"
                    :gridOptions="gridOptions"
                    :context="context"
                    :frameworkComponents="frameworkComponents"
                    :enableCellChangeFlash="true"
                    :rowSelection="rowSelection"
                    :getContextMenuItems="getContextMenu"
                    :defaultColDef="agGridSetting.defColDef"
                    :suppressDragLeaveHidesColumns="true"
                    :suppressMakeColumnVisibleAfterUnGroup="true"
                    :statusBar="statusBar"
                    @grid-ready="onGridReady"
                    @cellContextMenu="handleRowRightClicked"
                    :getRowNodeId="getRowNodeId"
                    @cellValueChanged="cellValueChanged"
                    @rowDataUpdated="getRowData"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-form>
    </div>

    <div class="d-flex justify-content-end mt-2">
      <button type="button" class="btn btn-danger mr-1" @click="onClose">
        <i class="fa fa-times" aria-hidden="true"></i>
        {{$t('buttons.close')}}
      </button>
      <button type="button" class="btn btn-primary" @click="onSubmit">
        <i class="fas fa-save"></i>
        {{ $t('buttons.save') }}
      </button>
    </div>
  </div>
</div>
