<c-form
  @submit="onSave"
  ref="inputFormValidation"
  :validation-schema="schema"
  @invalid-submit="onInvalidSubmit"
  class="input-form row"
  v-slot="{resetForm}"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <div class="tabs">
        <!-- tab nav -->
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                id="form-earnings-tab"
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-earnings"
                aria-controls="form-earnings"
                aria-selected="true"
                tabindex="-1"
              >
                {{$t('labels.payroll.payroll.earnings')}}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                id="form-deductions-tab"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-deductions"
                aria-controls="form-deductions"
                aria-selected="false"
                tabindex="-1"
              >
                {{$t('labels.payroll.payroll.deductions')}}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                id="form-statutory-tab"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-statutory"
                aria-controls="form-statutory"
                aria-selected="false"
                tabindex="-1"
              >
                {{$t('labels.payroll.payroll.statutory')}}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                id="form-category-tab"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#form-category"
                aria-controls="form-category"
                aria-selected="false"
                tabindex="-1"
              >
                {{$t('labels.payroll.payroll.category')}}
              </button>
            </li>
          </ul>
        </div>
        <!-- tab content -->
        <div class="tab-content mt-3">
          <!-- form earnings -->
          <div
            id="form-earnings"
            class="tab-pane active show fade"
            role="tabpanel"
            aria-labelledby="form-earnings-tab"
          >
            <p class="h3 py-2">{{$t('labels.payroll.payroll.earnings')}}</p>
            <div class="row mb-3">
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="EarningsCode"
                  id="EarningsCode"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.code')"
                  v-model="form.earningsCode"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="EarningsName"
                  id="EarningsName"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.name')"
                  v-model="form.earningsName"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="earningDescription"
                  id="earningDescription"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.description')"
                  v-model="form.earningsDescription"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  filter
                  required
                  offset="right"
                  selectType="column"
                  class="row mb-1"
                  name="category"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningCategory"
                  :label="$t('labels.payroll.payroll.category')"
                  :options="earningCategoryOptions"
                  :columnOptions="columnOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-input
                  showZeroNumber
                  formatted
                  type="number"
                  name="defaultAmount"
                  id="defaultAmount"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.defaultAmount')"
                  :max="9999999999"
                  :min="0"
                  v-model="form.earningDefaultAmount"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  showZeroNumber
                  type="number"
                  name="quantity"
                  id="quantity"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.qty')"
                  v-model="form.earningQty"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="unit"
                  id="unit"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.unit')"
                  v-model="form.earningUnit"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="taxable"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningTaxable"
                  :label="$t('labels.payroll.payroll.taxable')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedBpjsEmployee"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningIncludedBpjsEmplyoee"
                  :label="$t('labels.payroll.payroll.includedBpjsEmployee')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedBpjsHealth"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningIncludedBpjsHealth"
                  :label="$t('labels.payroll.payroll.includedBpjsHealth')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedProrate"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningIncludedProrate"
                  :label="$t('labels.payroll.payroll.includedProrate')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="showInPayslip"
                  labelName="name"
                  keyName="code"
                  v-model="form.earningsShowInPayslip"
                  :label="$t('labels.payroll.payroll.showInPayslip')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4 mb-sm-1">
                <div class="row">
                  <div class="col-sm-3">
                    <label
                      class="form-label"
                      style="font-size: 12px; font-weight: 700; color: red"
                      >{{$t('labels.status')}}</label
                    >
                  </div>
                  <div class="col-sm-9 d-flex align-items-center p-0">
                    <c-radio
                      class="me-3"
                      :label="$t('labels.active')"
                      v-model="form.earningsStatus"
                      :value="A"
                    ></c-radio>
                    <c-radio
                      class="me-3"
                      :label="$t('labels.inactive')"
                      v-model="form.earningsStatus"
                      value="I"
                    ></c-radio>
                  </div>
                </div>
              </div>
            </div>

            <!-- buttons -->
            <div class="d-flex justify-content-end mt-2">
              <button
                type="button"
                class="btn btn-danger mr-1 px-3"
                @click="onClose"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
              </button>
              <button
                type="button"
                class="btn btn-primary px-3"
                @click="onSubmit"
              >
                <i class="fa fa-save"></i>
                {{$t('buttons.save')}}
              </button>
            </div>
          </div>

          <!-- form deductions -->
          <div
            id="form-deductions"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="form-deductions-tab"
          >
            <p class="h3 py-2">{{$t('labels.payroll.payroll.deductions')}}</p>
            <div class="row mb-3">
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="DeductionsCode"
                  id="DeductionsCode"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.code')"
                  v-model="form.deductionsCode"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="DeductionsName"
                  id="DeductionsName"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.name')"
                  v-model="form.deductionsName"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="DeductionsDescription"
                  id="DeductionsDescription"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.description')"
                  v-model="form.deductionsDescription"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  filter
                  required
                  offset="right"
                  selectType="column"
                  class="row mb-1"
                  name="category"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsCategory"
                  :label="$t('labels.payroll.payroll.category')"
                  :options="deductionsCategoryOptions"
                  :columnOptions="columnOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-input
                  showZeroNumber
                  formatted
                  type="number"
                  name="defaultAmount"
                  id="defaultAmount"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.defaultAmount')"
                  :max="9999999999"
                  :min="0"
                  v-model="form.deductionsDefaultAmount"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  showZeroNumber
                  type="number"
                  name="quantity"
                  id="quantity"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.quantity')"
                  v-model="form.deductionsQty"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="unit"
                  id="unit"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.unit')"
                  v-model="form.deductionsUnit"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="taxable"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsTaxable"
                  :label="$t('labels.payroll.payroll.taxable')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedBpjsEmployee"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsIncludedBpjsEmplyoee"
                  :label="$t('labels.payroll.payroll.includedBpjsEmployee')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedBpjsHealth"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsIncludedBpjsHealth"
                  :label="$t('labels.payroll.payroll.includedBpjsHealth')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedProrate"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsIncludedProrate"
                  :label="$t('labels.payroll.payroll.includedProrate')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="showInPayslip"
                  labelName="name"
                  keyName="code"
                  v-model="form.deductionsShowInPayslip"
                  :label="$t('labels.payroll.payroll.showInPayslip')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4 mb-sm-1">
                <div class="row">
                  <div class="col-sm-3">
                    <label
                      class="form-label"
                      style="font-size: 12px; font-weight: 700; color: red"
                      >{{$t('labels.status')}}</label
                    >
                  </div>
                  <div class="col-sm-9 d-flex align-items-center p-0">
                    <c-radio
                      class="me-3"
                      :label="$t('labels.active')"
                      v-model="form.deductionsStatus"
                      :value="A"
                    ></c-radio>
                    <c-radio
                      class="me-3"
                      :label="$t('labels.inactive')"
                      v-model="form.deductionsStatus"
                      value="I"
                    ></c-radio>
                  </div>
                </div>
              </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-end mt-2">
              <button
                type="button"
                class="btn btn-danger mr-1 px-3"
                @click="onClose"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
              </button>
              <button
                type="button"
                class="btn btn-primary px-3"
                @click="onSubmit"
              >
                <i class="fa fa-save"></i>
                {{$t('buttons.save')}}
              </button>
            </div>
          </div>

          <!-- form statutory -->
          <div
            id="form-statutory"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="form-statutory-tab"
          >
            <p class="h3 py-2">{{$t('labels.payroll.payroll.statutory')}}</p>
            <div class="row mb-3">
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="StatutoryCode"
                  id="StatutoryCode"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.code')"
                  v-model="form.statutoryCode"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="StatutoryName"
                  id="StatutoryName"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.name')"
                  v-model="form.statutoryName"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="StatutoryDescription"
                  id="StatutoryDescription"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.description')"
                  v-model="form.statutoryDescription"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="type"
                  labelName="name"
                  keyName="code"
                  v-model="form.statutoryType"
                  :label="$t('labels.payroll.payroll.type')"
                  :options="typeOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-input
                  showZeroNumber
                  formatted
                  type="number"
                  name="defaultAmount"
                  id="defaultAmount"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.defaultAmount')"
                  :max="9999999999"
                  :min="0"
                  v-model="form.statutoryDefaultAmount"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  showZeroNumber
                  type="number"
                  name="quantity"
                  id="quantity"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.quantity')"
                  v-model="form.statutoryQty"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="unit"
                  id="unit"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.unit')"
                  v-model="form.statutoryUnit"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="taxable"
                  labelName="name"
                  keyName="code"
                  v-model="form.statutoryTaxable"
                  :label="$t('labels.payroll.payroll.taxable')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="includedProrate"
                  labelName="name"
                  keyName="code"
                  v-model="form.statutoryIncludedProrate"
                  :label="$t('labels.payroll.payroll.includedProrate')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="showInPayslip"
                  labelName="name"
                  keyName="code"
                  v-model="form.statutoryShowInPayslip"
                  :label="$t('labels.payroll.payroll.showInPayslip')"
                  :options="booleanOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4 mb-sm-1">
                <div class="row">
                  <div class="col-sm-3">
                    <label
                      class="form-label"
                      style="font-size: 12px; font-weight: 700; color: red"
                      >{{$t('labels.status')}}</label
                    >
                  </div>
                  <div class="col-sm-9 d-flex align-items-center p-0">
                    <c-radio
                      class="me-3"
                      :label="$t('labels.active')"
                      v-model="form.statutoryStatus"
                      :value="A"
                    ></c-radio>
                    <c-radio
                      class="me-3"
                      :label="$t('labels.inactive')"
                      v-model="form.statutoryStatus"
                      value="I"
                    ></c-radio>
                  </div>
                </div>
              </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-end mt-2">
              <button
                type="button"
                class="btn btn-danger mr-1 px-3"
                @click="onClose"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
              </button>
              <button
                type="button"
                class="btn btn-primary px-3"
                @click="onSubmit"
              >
                <i class="fa fa-save"></i>
                {{$t('buttons.save')}}
              </button>
            </div>
          </div>

          <!-- form category -->
          <div
            id="form-category"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="form-category-tab"
          >
            <p class="h3 py-2">{{$t('labels.payroll.payroll.category')}}</p>
            <div class="row mb-3">
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="CategoryCode"
                  id="CategoryCode"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.category')"
                  v-model="form.categoryCode"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  required
                  type="text"
                  name="CategoryName"
                  id="CategoryName"
                  class="row mb-1"
                  :label="$t('labels.payroll.payroll.name')"
                  v-model="form.categoryName"
                />
              </div>
              <div class="col-md-4">
                <c-input
                  type="text"
                  name="CategoryDescription"
                  id="CategoryDescription"
                  class="row mb-1"
                  :label="$t('labels.payroll.employee.description')"
                  v-model="form.categoryDescription"
                />
              </div>
              <div class="col-md-4">
                <c-select
                  required
                  offset="right"
                  class="row mb-1"
                  name="type"
                  labelName="name"
                  keyName="code"
                  v-model="form.categoryType"
                  :label="$t('labels.payroll.payroll.type')"
                  :options="typeOptions"
                >
                </c-select>
              </div>
              <div class="col-md-4 mb-sm-1">
                <div class="row">
                  <div class="col-sm-3">
                    <label
                      class="form-label"
                      style="font-size: 12px; font-weight: 700; color: red"
                      >{{$t('labels.status')}}</label
                    >
                  </div>
                  <div class="col-sm-9 d-flex align-items-center p-0">
                    <c-radio
                      class="me-3"
                      :label="$t('labels.active')"
                      v-model="form.categoryStatus"
                      :value="A"
                    ></c-radio>
                    <c-radio
                      class="me-3"
                      :label="$t('labels.inactive')"
                      v-model="form.categoryStatus"
                      value="I"
                    ></c-radio>
                  </div>
                </div>
              </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-end mt-2">
              <button
                type="button"
                class="btn btn-danger mr-1 px-3"
                @click="onClose"
              >
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
              </button>
              <button
                type="button"
                class="btn btn-primary px-3"
                @click="onSubmit"
              >
                <i class="fa fa-save"></i>
                {{$t('buttons.save')}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</c-form>
