<section class="content">
  <div class="container-fluid">
    <!-- button insert -->
    <div class="d-flex justify-content-between mb-2">
      <button
        title="Back"
        type="button"
        class="btn btn-secondary mr-1"
        @click="handleBack"
      >
        <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>{{
        $t('buttons.back') }}
      </button>
      <div>
        <button
          title="Update Employee"
          type="button"
          class="btn btn-warning mr-1"
          @click="handleShowForm('', $global.modeData.edit)"
        >
          <i class="fa fa-edit mr-1" aria-hidden="true"></i>{{
          $t('buttons.update') }}
        </button>
      </div>
    </div>

    <!-- update form -->
    <transition name="fade" mode="out-in">
      <employee-input-form
        class="px-2"
        ref="inputFormElement"
        v-show="showForm"
        :schema="schema"
        :modeData="modeData"
        :employeeTypeOptions="employeeTypeOptions"
        :genderOptions="genderOptions"
        :paymentFrequencyOptions="paymentFrequencyOptions"
        :paymentMethodOptions="paymentMethodOptions"
        :maritalStatusOptions="maritalStatusOptions"
        :bankOptions="bankOptions"
        :documentTypeOptions="documentTypeOptions"
        :departmentOptions="departmentOptions"
        :positionOptions="positionOptions"
        :placementOptions="placementOptions"
        @save="handleSave"
        @close="showForm=false"
      />
    </transition>

    <!-- employee profile -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.employeeProfile')}}</h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-4 mb-sm-3 mb-md-0">
            <div
              class="border w-100 h-100 p-4 text-center align-content-center"
            >
              <h5 class="mb-3">Photo Profile</h5>
              <p>1080 x 1080 pixel</p>
            </div>
            <!-- <img
              :src="employeeData.profile_photo || '/path/to/default-avatar.png'"
              alt="Employee Photo"
              class="img-fluid rounded-circle bg-blue"
              style="width: 120px; height: 120px; object-fit: cover"
            /> -->
          </div>
          <div class="col-md-8">
            <!-- personal information -->
            <div class="border p-4">
              <h5 class="text-bold mb-3">
                {{employeeData.first_name}} {{employeeData.last_name}}
              </h5>
              <p class="mb-2 text-gray">{{employeeData.position}}</p>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.employeeId')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.employee_id}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.gender')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.gender}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.birthDate')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.birth_date}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.phone')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.phone}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.email')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.email}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.address')}}</strong>
                </div>
                <div class="col-9">: {{employeeData.address}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- employment information -->
            <div class="border p-4">
              <h5 class="mb-3">Employment Information</h5>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong
                    >{{$t('labels.payroll.employee.employeeType')}}</strong
                  >
                </div>
                <div class="col-7">: {{employeeData.employee_type}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.position')}}</strong>
                </div>
                <div class="col-7">: {{employeeData.Position}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.department')}}</strong>
                </div>
                <div class="col-7">: {{employeeData.Department}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.placement')}}</strong>
                </div>
                <div class="col-7">: {{employeeData.Placement}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.hireDate')}}</strong>
                </div>
                <div class="col-7">
                  : {{formatHireDate(employeeData.hire_date)}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.endDate')}}</strong>
                </div>
                <div class="col-7">
                  : {{formatHireDate(employeeData.end_date)}}
                </div>
              </div>
              <!-- <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.payroll.employee.baseSalary')}}</strong>
                </div>
                <div class="col-7">
                  : Rp {{employeeData.base_salary?.toLocaleString()}}
                </div>
              </div> -->
              <div class="row mb-2">
                <div class="col-3 text-muted">
                  <strong>{{$t('labels.status')}}</strong>
                </div>
                <div class="col-7">
                  :
                  <span
                    :class="employeeData.status ? 'badge bg-success' : 'badge bg-danger'"
                    class="px-3"
                    >{{employeeData.status ? 'Active' : 'Inactive'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- tabs -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{$t('title.employeeDetail')}}</h3>
      </div>
      <div class="card-body">
        <div class="tabs">
          <!-- tab nav -->
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  id="documents-tab"
                  class="nav-link active"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-documents"
                  aria-controls="table-documents"
                  aria-selected="true"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.documents')}}
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="salaries-tab"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-salaries"
                  aria-controls="table-salaries"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.salaryHistory')}}
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="benefits-tab"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#table-benefits"
                  aria-controls="table-benefits"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{$t('labels.payroll.employee.benefits')}}
                </button>
              </li>
            </ul>
          </div>

          <!-- tab content -->
          <div class="tab-content mt-3">
            <!-- table documents -->
            <div
              id="table-documents"
              class="tab-pane active show fade"
              role="tabpanel"
              aria-labelledby="documents-tab"
            >
              <document-table-component
                ref="documentTableRef"
                :employeeId="employeeId"
                :rowData="rowDocumentData"
                :documentTypeOptions="documentTypeOptions"
                @insert="handleTableAction"
                @edit="handleTableAction"
                @delete="handleTableAction"
              >
              </document-table-component>
            </div>

            <!-- table salary history -->
            <div
              id="table-salaries"
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="salaries-tab"
            >
              <salary-table-component
                ref="salaryTableRef"
                :employeeId="employeeId"
                :rowData="rowSalaryData"
                :adjustmentReasonOptions="adjustmentReasonOptions"
                @insert="handleTableAction"
                @edit="handleTableAction"
                @delete="handleTableAction"
              >
              </salary-table-component>
            </div>

            <!-- table benefit -->
            <div
              id="table-benefits"
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="benefits-tab"
              n
            >
              <benefit-table-component
                ref="benefitTableRef"
                :employeeId="employeeId"
                :rowData="rowBenefitData"
                :componentTypeOptions="componentTypeOptions"
                :earningsComponentOptions="earningsComponentOptions"
                :deductionsComponentOptions="deductionsComponentOptions"
                @insert="handleTableAction"
                @edit="handleTableAction"
                @delete="handleTableAction"
              >
              </benefit-table-component>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modal document -->
    <c-modal
      v-show="showModal"
      :title="getModalTitle()"
      size="lg"
      @close="closeModal"
      @save="handleSaveModal"
      :isSaving="isSaving"
    >
      <div @click.stop>
        <!-- document modal -->
        <c-form
          v-if="dataType === 'DOCUMENT'"
          ref="documentFormRef"
          :validation-schema="documentValidationSchema"
          @submit="handleSaveModal"
          class="row"
        >
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              name="DocumentType"
              labelName="name"
              keyName="code"
              v-model="currentForm.document_type"
              :label="$t('labels.payroll.employee.documentType')"
              :options="documentTypeOptions"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-input
              type="file"
              name="DocumentFile"
              id="DocumentFile"
              class="row mb-1"
              :label="$t('labels.payroll.employee.documentFile')"
              @change="handleFileChange"
              :required="modalMode === $global.modeData.insert"
              validate
            />
            <div
              v-if="modalMode === $global.modeData.edit && currentForm.file_name"
              class="mt-1"
            >
              <small class="text-muted">
                {{$t('labels.payroll.employee.currentFile')}}: {{
                currentForm.file_name }}
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <c-datepicker
              required
              name="IssueDate"
              id="IssueDate"
              customLabelClass="col-3 mb-1"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              :label="$t('labels.payroll.employee.issueDate')"
              v-model="currentForm.issue_date"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              id="ExpiryDate"
              customLabelClass="col-3 mb-1"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              name="ExpiryDate"
              :label="$t('labels.payroll.employee.expiryDate')"
              v-model="currentForm.expiry_date"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-input
              type="textarea"
              name="Remark"
              id="Remark"
              class="row mb-1"
              :label="$t('labels.remark')"
              v-model="currentForm.remark"
            />
          </div>
        </c-form>

        <!-- salary modal -->
        <c-form
          v-if="dataType === 'SALARY'"
          ref="salaryFormRef"
          :validation-schema="salaryValidationSchema"
          @submit="handleSaveModal"
          class="row"
        >
          <div class="col-md-6">
            <c-input
              required
              formatted
              showZeroNumber
              type="number"
              name="BaseSalary"
              id="BaseSalary"
              class="row mb-1"
              :label="$t('labels.payroll.employee.baseSalary')"
              :disabled="modalMode === $global.modeData.edit"
              v-model="currentForm.base_salary"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              required
              name="EffectiveDate"
              id="EffectiveDate"
              customLabelClass="col-3  mb-1"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              :label="$t('labels.payroll.employee.effectiveDate')"
              :disabled="modalMode === $global.modeData.edit"
              v-model="currentForm.effective_date"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              name="AdjustmentReason"
              labelName="name"
              keyName="code"
              v-model="currentForm.adjustment_reason"
              :disabled="modalMode === $global.modeData.edit"
              :label="$t('labels.payroll.employee.adjustmentReason')"
              :options="adjustmentReasonOptions"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-input
              type="textarea"
              name="Remark"
              id="Remark"
              class="row mb-1"
              :label="$t('labels.remark')"
              v-model="currentForm.remark"
              validate
            />
          </div>
        </c-form>

        <!-- benefit modal -->
        <c-form
          v-if="dataType === 'BENEFIT'"
          ref="benefitFormRef"
          :validation-schema="benefitValidationSchema"
          @submit="handleSaveModal"
          class="row"
        >
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              name="ComponentType"
              labelName="name"
              keyName="code"
              v-model="currentForm.component_type"
              :label="$t('labels.payroll.payroll.type')"
              :options="componentTypeOptions"
              @change="onComponentTypeChange"
              :disabled="modalMode === $global.modeData.edit"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-select
              required
              offset="right"
              class="row mb-1"
              name="ComponentCode"
              labelName="name"
              keyName="code"
              v-model="currentForm.payroll_component_code"
              :label="$t('labels.payroll.payroll.component')"
              :options="filteredComponentOptionsWithDetails"
              :columnOptions="columnOptions"
              :disabled="!currentForm.component_type || modalMode === $global.modeData.edit"
              @change="onComponentChange"
              validate
            />
          </div>
          <div class="col-md-6">
            <div class="row mb-1">
              <div class="col-9">
                <c-input
                  :required="currentForm.is_override"
                  formatted
                  showZeroNumber
                  type="number"
                  customLabelClass="col-4"
                  :label="$t('labels.payroll.payroll.amount')"
                  v-model="currentForm.amount"
                  :disabled="!currentForm.payroll_component_code || !currentForm.is_override"
                  :min="currentForm.is_override ? 1 : undefined"
                  validate
                />
              </div>
              <div class="col-3 d-flex">
                <c-checkbox
                  class="align-items-center"
                  name="Amount"
                  id="Amount"
                  :label="$t('labels.override')"
                  v-model="currentForm.is_override"
                  :disabled="!currentForm.payroll_component_code || isFixedComponent"
                  @change="onOverrideAmountChange"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <c-input
              required
              type="number"
              name="Qty"
              id="Qty"
              class="row mb-1"
              :label="$t('labels.payroll.payroll.quantity')"
              v-model="currentForm.qty"
              :min="1"
              :disabled="!currentForm.payroll_component_code"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              required
              name="EffectiveDate"
              id="EffectiveDate"
              customLabelClass="col-3 mb-1"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              :label="$t('labels.payroll.employee.effectiveDate')"
              v-model="currentForm.effective_date"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-datepicker
              id="EndDate"
              name="EndDate"
              customLabelClass="col-3 mb-1"
              :label="$t('labels.payroll.employee.endDate')"
              type="date"
              valueType="YYYY-MM-DD"
              format="DD/MM/YYYY"
              v-model="currentForm.end_date"
              validate
            />
          </div>
          <div class="col-md-6">
            <c-input
              type="textarea"
              name="Remark"
              id="Remark"
              class="row mb-1"
              :label="$t('labels.remark')"
              v-model="currentForm.remark"
            />
          </div>
        </c-form>

        <!-- button -->
        <div class="d-flex justify-content-end mt-2">
          <button
            type="button"
            n
            class="btn btn-danger mr-1 px-3"
            @click="closeModal"
            :disabled="isSaving"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
            {{$t('buttons.cancel')}}
          </button>
          <button
            type="button"
            class="btn btn-primary px-3"
            @click="handleSaveModal"
            :disabled="!isValidForm || isSaving"
          >
            <span
              v-if="isSaving"
              class="spinner-border spinner-border-sm mr-1"
              role="status"
              aria-hidden="true"
            ></span>
            <i class="fa fa-save"></i>
            {{$t('buttons.save')}}
          </button>
        </div>
      </div>
    </c-modal>

    <!-- dialog -->
    <c-dialog
      v-show="showDialog"
      dialogTitle="Confirm"
      size="sm"
      :isSaving="isSaving"
      @confirm="confirmAction"
      @cancel="showDialog=false"
    >
      <template #body> {{dialogMessage}} </template>
    </c-dialog>
  </div>
</section>
