// @import 'vue3-date-time-picker/dist/main.css';
// @import 'vue-datepicker-next/index.css';
// @import '~vue3-date

#search-option {
  .input-group {
    padding-right: 0;
    padding-left: 0;
  }
}

.filterLabels{
  font-size: 13px;
  font-weight: 700;
}

.ml-2 {
  margin-left: 2px;
}