<CDialog
  v-if="show"
  size="md"
  class="credential-dialog"
  confirm
  close
  :title="title"
  @close="onClose"
>
  <template #body>
    <div v-if="showVerify" class="user">
      <div class="mb-2">
        <span>{{ $t('credential.enterCredential') }}</span>
      </div>
      <c-input
        required
        icon="fa fa-user"
        class="row mb-1"
        type="text"
        :label="$t('credential.id')"
        name="id"
        v-model="form.userId"
      ></c-input>
      <c-input
        required
        icon="fa fa-lock"
        class="row mb-1"
        type="password"
        :label="$t('credential.password')"
        name="password"
        v-model="form.password"
        @keyup.enter="onVerify"
      ></c-input>
    </div>
    <div v-if="!showVerify && reason" class="reason">
      <div class="mb-2">
        <span>{{ $t('credential.pleaseInputReason') }}</span>
      </div>
      <c-input
        required
        class="row mb-1"
        type="textarea"
        formatted
        :label="$t('credential.reason')"
        name="reason"
        v-model="form.reason"
        @keyup.enter="onVerify"
      ></c-input>
    </div>
  </template>
  <template #footer>
    <button
      :disabled="verifying || isSaving"
      type="button"
      class="btn btn-primary mr-1"
      @click="onVerify"
    >
      <span
        v-if="verifying || isSaving"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      {{ btnTitle }}
    </button>
    <button
      :disabled="verifying || isSaving"
      type="button"
      class="btn btn-secondary"
      @click="onClose"
    >
      {{ $t('buttons.cancel') }}
    </button>
  </template>
</CDialog>
