<aside
  v-click-outside="hideMenuSidebar"
  class="main-sidebar elevation-4"
  :class="sidebarSkin"
>
  <router-link to="/" class="brand-link">
    <div
      v-if="subscription.ShowLogo && subscription.ImageUrl"
      class="w-100 text-center custom-logo"
    >
      <img
        v-if="config.sidebarLogo"
        width="100"
        height="80"
        title="logo"
        :src="config.sidebarLogo"
      />
      <img
        v-else
        width="100"
        height="80"
        title="logo"
        :src="subscription.ImageUrl"
      />
    </div>
    <div class="w-100 text-center" v-else>
      <img
        src="/images/logos/logo.png"
        alt="Cakrasoft Logo"
        class="brand-image"
        style="opacity: 0.8; box-shadow: burlywood"
        height="80"
        width="100"
      />
      <span class="brand-text font-weight-light">{{$global.appTitle}}</span>
    </div>
  </router-link>

  <!-- <div class="sidebar-search input-group p-2">
    <input
      v-model="search"
      type="search"
      class="form-control"
      placeholder="Search..."
      aria-label="searchData"
      @keyup.enter="onSearch"
    />
  </div> -->
  <div
    class="sidebar-search search-container input-group p-2 position-relative"
  >
    <!-- <input
          type="text"
          class="form-control"
          placeholder="Search..."
          v-model="query"
          @input="filterSuggestions"
        /> -->
    <input
      v-model="query"
      type="search"
      class="form-control search-input"
      aria-label="searchData"
      v-click-outside="clickOutside"
      @input="searchItems"
    />
    <i class="fa fa-search search-icon"></i>
    <!-- Suggestions dropdown -->
    <ul
      v-if="filteredResults.length && query"
      class="suggestion-list list-group position-absolute w-100 mt-1 shadow-sm"
    >
      <li
        v-for="(item, index) in filteredResults"
        :key="index"
        class="list-group-item list-group-item-action cursor-pointer p-1"
        @click="navigateTo(item)"
      >
        <router-link
          v-if="!item.hidden"
          :to="item.path"
          class="nav-link d-flex"
          exact
          exact-active-class="active"
        >
          <img
            v-if="item.cIcon"
            class="mr-1"
            :src="generateIcon(item.cIcon)"
            height="16"
            width="16"
            alt=""
          />
          <i v-else class="far fa-circle nav-icon"></i>
          <a>{{ $t(item.name)}}</a>
        </router-link>
      </li>
      <!-- <li
        v-if="!item.hidden"
        class="nav-item"
        @click="handleMenuChildren(item)"
      >
        <router-link
          :to="item.path"
          class="nav-link"
          exact
          exact-active-class="active"
        >
          <img
            v-if="item.cIcon"
            class="mr-1 mb-1"
            :src="generateIcon(item.cIcon)"
            height="16"
            width="16"
            alt=""
          />
          <i v-else class="far fa-circle nav-icon"></i>
          <p>{{ $t(item.name)}}</p>
        </router-link>
      </li> -->
    </ul>
  </div>
  <div class="pb-5 sidebar">
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          :src="(user && user.picture) ? user.picture
                    : defaultProfileImage"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <router-link to="/profile" class="d-block"> {{user}} </router-link>
      </div>
    </div> -->
    <div v-if="isMobileView" class="navbar-nav ml-auto">
      <modules class="nav-modules"></modules>
    </div>
    <nav v-if="showMenuList" class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- <li class="nav-item">
                    <router-link
                        to="/"
                        class="nav-link"
                        exact
                        exact-active-class="active"
                    >
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>{{ $t("labels.dashboard") }}</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link
                        to="/profile"
                        class="nav-link"
                        active-class="active"
                    >
                        <i class="nav-icon fas fa-user"></i>
                        <p>{{ $t("labels.profile") }}</p>
                    </router-link>
                </li> -->
        <app-menu-item v-for="item in menu" :menuItem="item"></app-menu-item>
      </ul>
    </nav>
  </div>
</aside>
