<c-form
  ref="inputFormValidation"
  :validation-schema="schema"
  class="input-form row"
  v-slot="{resetForm}"
  @invalid-submit="onInvalidSubmit"
  @submit="onSave"
>
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <!-- form -->
      <div class="row mb-3">
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="EarningsCode"
            id="EarningsCode"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.code')"
            v-model="form.earningsCode"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            type="text"
            name="EarningsName"
            id="EarningsName"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.name')"
            v-model="form.earningsName"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="EarningsDescription"
            id="EarningsDescription"
            class="row mb-1"
            :label="$t('labels.payroll.employee.description')"
            v-model="form.earningsDescription"
          />
        </div>
        <div class="col-md-4">
          <c-select
            filter
            required
            offset="right"
            selectType="column"
            class="row mb-1"
            name="EarningsCategory"
            labelName="name"
            keyName="code"
            v-model="form.earningsCategory"
            :label="$t('labels.payroll.payroll.category')"
            :options="earningCategoryOptions"
            :columnOptions="columnOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-input
            showZeroNumber
            formatted
            type="number"
            name="EarningsDefaultAmount"
            id="EarningsDefaultAmount"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.defaultAmount')"
            :max="9999999999"
            :min="0"
            v-model="form.earningsDefaultAmount"
          />
        </div>
        <div class="col-md-4">
          <c-input
            required
            showZeroNumber
            type="number"
            name="EarningsQty"
            id="EarningsQty"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.qty')"
            v-model="form.earningsQty"
          />
        </div>
        <div class="col-md-4">
          <c-input
            type="text"
            name="EarningsUnit"
            id="EarningsUnit"
            class="row mb-1"
            :label="$t('labels.payroll.payroll.unit')"
            v-model="form.earningsUnit"
          />
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="EarningsTaxable"
            labelName="name"
            keyName="code"
            v-model="form.earningsTaxable"
            :label="$t('labels.payroll.payroll.taxable')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="EarningsIncludedBpjsEmployee"
            labelName="name"
            keyName="code"
            v-model="form.earningsIncludedBpjsEmplyoee"
            :label="$t('labels.payroll.payroll.includedBpjsEmployee')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="EarningsIncludedBpjsHealth"
            labelName="name"
            keyName="code"
            v-model="form.earningsIncludedBpjsHealth"
            :label="$t('labels.payroll.payroll.includedBpjsHealth')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="EarningsIncludedProrate"
            labelName="name"
            keyName="code"
            v-model="form.earningsIncludedProrate"
            :label="$t('labels.payroll.payroll.includedProrate')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4">
          <c-select
            required
            offset="right"
            class="row mb-1"
            name="EarningShowInPayslip"
            labelName="name"
            keyName="code"
            v-model="form.earningsShowInPayslip"
            :label="$t('labels.payroll.payroll.showInPayslip')"
            :options="booleanOptions"
          >
          </c-select>
        </div>
        <div class="col-md-4 mb-sm-1">
          <div class="row">
            <div class="col-sm-3">
              <label
                class="form-label"
                style="font-size: 12px; font-weight: 700; color: red"
                >{{$t('labels.status')}}</label
              >
            </div>
            <div class="col-sm-9 d-flex align-items-center p-0">
              <c-radio
                class="me-3"
                :label="$t('labels.active')"
                v-model="form.earningsStatus"
                value="A"
              ></c-radio>
              <c-radio
                class="me-3"
                :label="$t('labels.inactive')"
                v-model="form.earningsStatus"
                value="I"
              ></c-radio>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-danger mr-1 px-3" @click="onClose">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{$t('buttons.close')}}
        </button>
        <button type="button" class="btn btn-primary px-3" @click="onSubmit">
          <i class="fa fa-save"></i>
          {{$t('buttons.save')}}
        </button>
      </div>
    </div>
  </div>
</c-form>
