<section class="content">
  <div class="container-fluid">
    <!-- button -->
    <div class="d-flex justify-content-between mb-2">
      <button
        title="Back"
        type="button"
        class="btn btn-secondary mr-1"
        @click="handleBack"
      >
        <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>{{
        $t('buttons.back') }}
      </button>
      <button
        v-show="canContinue"
        title="Continue"
        type="button"
        class="btn btn-primary mr-1"
        @click="handleContinue"
      >
        {{ $t('buttons.continue') }}
        <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
      </button>
    </div>

    <!-- disbursement detail -->
    <disbursement-detail-card :periodData="periodData" />

    <!-- period bank summary -->
    <summary-payment-bank-table :rowData="rowSummaryBankData" />
  </div>
</section>
