.labDatepicker {
    padding: 0px;
}

.labRed {
    color: red;
}

.Datepicks {
    padding-right: 0px !important;
    padding-left: 4px !important;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
}