<!-- <Form @submit="onSave" ref="inputFormElement" :validation-schema="schema" @invalid-submit="onInvalidSubmit" -->

    <div class="card">
        <div class="card-header">
            {{ title }}
        <button type="button" class="close-button btn" style="float: right;" @click="onClose"><i class="fas fa-times"></i></button>
        </div>
        <!-- <button @click="showForm">Check</button> -->
        <div class="card-body">
            <div id="parrentAccordion" class="accordion">
        <Form @submit="onSave" ref="inputFormValidation" :validation-schema="schema" @invalid-submit="onInvalidSubmit"
        class="input-form" v-slot="{resetForm}">
            <div class="accordion-item mb-2">
                <h6 class="accordion-header" id="itemInformationHeader">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#itemInformation"
                    aria-controls="itemInformation" aria-expanded="false">
                    {{ formType === $global.formType.accruedExpense ? $t('title.accruedExpense') : $t('title.accountPayable')}} Information
                </button>
                </h6>
                <div id="itemInformation" class="accordion-collapse collapse show p-3"
                aria-labelledby="itemInformationHeader">
                <div class="accordion-body">
                    <div class="row">
                    <!-- input code -->
                    <div class="col-md-6 mb-1">
                        <c-datepicker v-model="form.date" required :label="$t('labels.date')" id="Date" customLabelClass="col-3" customClass="col-9" class="mb-1" type="date"
                        valueType="YYYY-MM-DD" format="DD/MM/YYYY" name="Date"></c-datepicker>
                        <c-input v-model="form.document_number" required :label="$t('labels.invoice')" id="document_number" customLabelClass="col-3" customClass="col-9" class="mb-1" type="text"
                        name="document_number" />
                        <c-select required id="company" customLabelClass="col-3" customClass="col-9" class="mb-1" :options="listDropdown.Company" @change="changeCompany" keyName="code" labelName="name"
                        v-model="form.company_code" :label="$t('labels.company')" name="company"><template #append-end>
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </template>
                        </c-select>
                        <c-select required id="sub_department_code" :label="$t('labels.subDepartment')" customLabelClass="col-3" customClass="col-9" :options="listDropdown.SubDepartment" keyName="code" labelName="name"
                        v-model="form.sub_department_code" name="sub_department_code" @change="onChangeSubDepartment"><template #append-end>
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </template>
                        </c-select>
                    </div>
                    <div class="col-md-6">
                        <c-select required id="ap_account" customLabelClass="col-3" customClass="col-9" class="mb-1" :options="listDropdownAccountList" keyName="code" labelName="name"
                        v-model="form.ap_account" :label="$t('labels.apAccount')" name="ap_account"><template #append-end>
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </template>
                        </c-select>
                        <c-datepicker v-model="form.due_date" :label="$t('labels.dueDate')" required id="dueDate" customLabelClass="col-3" customClass="col-9" class="mb-1" type="date"
                        valueType="YYYY-MM-DD" format="DD/MM/YYYY" name="due_date"></c-datepicker>
                        <c-input v-model="form.remark" :label="$t('labels.remark')" id="remark" customLabelClass="col-3" customClass="col-9" type="text"
                        name="remark" />
                    </div>
    
                    </div>
                  </div>
                </div>
            </div>
        </Form>
    
        <Form @submit="onSaveGrid()" ref="detailFormElement" @invalid-submit="onInvalidSubmit" :validation-schema="schemaDetail"
        class="input-form" v-slot="{resetForm}">
            <div class="accordion-item">
                <h6 class="accordion-header" id="itemInformationHeader">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#itemInformation"
                    aria-controls="itemInformation" aria-expanded="false">
                    Detail Information
                    </button>
                  </h6>
                <div id="itemInformation1" class="accordion-collapse p-3" aria-labelledby="itemInformationHeader1">
                  <div class="accordion-body card-block">
                    <div class="row mb-3">
                        <div class="col-md-6 mb-1">
                            <c-select required id="sub_department" customLabelClass="col-3" customClass="col-9" class="mb-1" :options="listDropdown.SubDepartment" labelName="name"
                            v-model="formDetail.sub_department" :label="$t('labels.subDepartment')" @change="onChangeSubDepartmentDetail" name="sub_department"><template #append-end>
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </template>
                            </c-select>
                            <c-select required id="gl_account" customLabelClass="col-3" customClass="col-9" :options="listDropdownGL" labelName="name"
                            v-model="formDetail.gl_account" :label="$t('labels.account')" name="gl_account"><template #append-end>
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </template> 
                            </c-select>
                        </div>
                    <div class="col-md-6 mb-1">
                        <c-input required id="amount" customLabelClass="col-3" customClass="col-9" class="mb-1" :label="$t('labels.amount')" type="number" formatted
                          showZeroNumber name="amount" v-model="formDetail.amount" />
                          <c-input v-model="formDetail.remark" id="remark" :label="$t('labels.remark')" customLabelClass="col-3" customClass="col-9" type="text"
                          name="remark" />
                      </div>
                      <div class="d-flex justify-content-end mb-2 mt-3">
                        <div>
                        <button type="button" class="btn btn-primary mr-1" @click="handleSaveGrid"><i
                            class="fa fa-plus mr-1" aria-hidden="true"></i>{{isSave ? $t('buttons.save') :
                            $t('buttons.insert') }}</button>
                        <button v-if="isSave" type="button" class="btn btn-danger mr-1" @click="gridFormCancel"><i
                            class="fa fa-times" aria-hidden="true"></i>
                            {{$t('buttons.cancel')}}</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div v-show="isSave" class="disabled-grid"></div>
                        <ag-grid-vue disabled :style="agGridSetting.styleAgGridFrame2" :class="agGridSetting.themeAgGrid"
                        :columnDefs="columnDefs" :rowData="rowData" :paginationPageSize="paginationPageSize"
                        :gridOptions="gridOptions" :context="context" :frameworkComponents="frameworkComponents"
                        :enableCellChangeFlash="true" :rowSelection="rowSelection" :getContextMenuItems="getContextMenu"
                        :defaultColDef="agGridSetting.defColDef" :suppressDragLeaveHidesColumns="true"
                        :suppressMakeColumnVisibleAfterUnGroup="true" :statusBar="statusBar" @grid-ready="onGridReady"
                        @cellContextMenu="handleRowRightClicked" :getRowNodeId="getRowNodeId"
                        @cellValueChanged="cellValueChanged" />
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </Form>
    </div>
    
            <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-danger mr-1" @click="onClose">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{$t('buttons.close')}}
            </button>
            <button type="button" class="btn btn-primary" @click="onSubmit">
                <i class="fas fa-save"></i>
                {{ $t('buttons.save') }}
            </button>
            </div>
        </div>
        </div>
    
    